/* FAQ page styles
Created by: Alexandra French
For: the Robotics Club of Central Florida
On: August 5, 2020*/

/* FAQ tabs */
.list-group-item {
  background-color: #212121;
}

#active {
  background-color: #f0cc03;
  color: #212121;
  border-radius: 0px;
}

#active a {
  color: #212121;
}

#active a:hover {
  color: #212121;
  text-decoration-color:  #f1f0ea;
}

.list-group .list-group-item a:hover {
  color: #f1f0ea;
}


/* individual question cards, alternating */
.card-blk .card-body {
  background-color: #383838;
  color: #f1f0ea;
}

.card-blk .card-header {
  color: #f1f0ea;
  background-color: #212121;
}

.card-blk .btn {
  color: #f1f0ea;
  background-color: #212121;
  text-decoration-color: #f0cc03;
}

.card-blk a:hover {
  color: white;
}

.card-wht .card-body {
  background-color: #d1d0cf;
  color: #212121;
}

.card-wht .card-header {
  color: #212121;
  background-color: #f1f0ea;
}

.card-wht .btn {
  color: #212121;
  background-color: #f1f0ea;
  text-decoration-color: #f0cc03;
}

/* For the smaller FAQ*/
.faq-container-about {
  padding-bottom: 250px;
}

.faq-container-misc {
  padding-bottom: 150px;
}
