  <!-- Page Content -->
  <div class="container">

    <!-- our projects header -->
    <div class="header-container-sm">
      <h1 class="mt-4 mb-3 text-center rounded p-1 title-blk-gold">Our Projects
      </h1>

      <!-- Image Header -->
      <img class="img-fluid rounded mb-2" src="assets/imgs/header-2020.jpg" alt="bowser">

      <!-- text content -->
      <div class="row align-items-center justify-content-center text-center">
        <div class="col-lg-12">
          <div class="container-wht-blk rounded p-3">
            <p>The Robotics Club of Cental Florida is dedicated to producing new, innovative
               robots that challenge all aspects and majors of the club each year. Our Projects
               involve mechanical, electrical, and computer engineers as well as computer scientists
               to achieve overall project goals.
            </p>
            <p> This year, our flagship robots are Citrobot, a 15lb combat robot,
               Bowser, an autonomous ground vehicle, and Demobot, a bot made to
               demonstrate various aspects of robotics. Together, they offer a comprehensive
               chance to join us as we tackle mechanical, electrical, and software challenges!
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.our projects -->

    <h2 class="text-center p-1 title-blk-wht">2019-2020</h2>

    <!-- projects -->
    <div class="intermediate-container-xs">
      <!-- Project One -->
      <div class="row align-items-center justify-content-center">
        <div class="col-md-7 p-1 project-body-gray-gold">
          <img class="img-fluid rounded mb-3 mb-md-0" src="assets/imgs/bowser.jpg" alt="bowser">
        </div>
        <div class="col-md-5 border p-2 project-body-creame-black">
          <h3>Bowser</h3>
          <p>Our autonomous ground vehicle. Bowser currently involves a complete electrical overhaul,
            object detection with both computer vision and LiDAR, and simulations. Our goal is to
            compete in the IGVC contest in 2021!
          </p>
          <br>
          <br>
          <a class="btn btn-dark" href="bowser/index">View Bowser
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
      <!-- /.project 1 -->

      <hr>

      <!-- Project Two -->
      <div class="row align-items-center justify-content-center">
        <div class="col-md-7 p-1">
          <img class="img-fluid rounded mb-3 mb-md-0" src="assets/imgs/citrobot.jpg" alt="citrobot">
        </div>
        <div class="col-md-5 rounded p-2 project-body-gray-gold">
          <h3 class="title-gold">Citrobot</h3>
          <p>Our 15lb combat robot. Citrobot currently involves a mechanical and electrical workup
            of a bot made to destroy the any and all competition.
            The competitions Citrobot will take part in have yet to be determined.
          </p>
          <br>
          <br>
          <a class="btn btn-light" href="citrobot/index">View Citrobot
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
      <!-- /.project 2 -->

      <hr>

      <!-- Project Three -->
      <div class="row align-items-center justify-content-center">
        <div class="col-md-7 p-1 project-body-gray-gold">
          <img class="img-fluid rounded mb-3 mb-md-0" src="assets/imgs/demobot.jpg" alt="demobot">
        </div>
        <div class="col-md-5 border p-2 project-body-creame-black">
          <h3>Demobot</h3>
          <p>Demobot is a demonstrative robot - a challenge to create a robot that can
            demonstate various aspects of robotics while remaining interesting to all.
            Demobot involves a bit of every discipline to achieve our goals.
            Demonstrations to be determined!
          </p>
          <br>
          <a class="btn btn-dark" href="demobot/index">View Demobot
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
      <!-- /.project 2 -->
    </div>
    <!-- /.projects -->

    <hr>

    <!-- pagination -->
    <ul class="pagination justify-content-center">
      <li class="page-item">
      </li>
      <li class="page-item active">
        <a class="page-link" href="index">2019-2020</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="2019">2018-2019</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="2018">2017-2018</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="2017">2016-2017</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="2019" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
    <!-- /.pagination -->

  </div>
  <!-- /.container -->
