

  <!-- Page Content -->
  <div class="container">

    <!-- announcements and events -->
    <div class="header-container-sm">
      <!-- title -->
      <h1 class="mt-4 mb-3 text-center p-2 title-blk-gold">Announcements and Events
      </h1>
      <!-- inner text -->
      <div class="container-wht-blk rounded p-3">
        <h3 class="text-center">Watching Our Progress? Getting Involved?</h3>
        <div class="row text-center">
          <div class="col-lg-12">
            <h5> Here you can find all the current and past info on our club.
            </h5>
          </div>
        </div>
      </div>
    </div>
    <!-- /.announcements -->
    <!-- Event Post 7 -->
    <div class="mb-4 card-wht-blk">
      <div class="card-body">
        <div class="row">
          <!-- image -->
          <div class="col-lg-6">
              <img class="img-fluid rounded" src="assets/imgs/2020-cad-workshop-1.jpg" alt="member history">
          </div>
          <!-- event body -->
          <div class="col-lg-6">
            <!-- title -->
            <h2 class="card-title">CAD Workshop</h2>
            <br>
            <!-- text -->
            <p class="card-text">
              We have an upcoming CAD workshop this week, September 16, at 6:30pm.
              Join us to learn more about how to get and use Fusion 360, the tools
              that are offered by it, how to create basic sketches, and other information
              on using CAD!
              <br>
            </p>
          </div>
          <!-- /.event body -->
        </div>
      </div>
      <!-- date -->
      <div class="card-footer">
        Posted on September 15, 2020 by Alexandra French (Webmaster)
      </div>
    </div>
    <!-- /.post 7 -->
    <!-- Event Post 6 -->
    <div class="card-blk-gold mb-4">
      <div class="card-body">
        <div class="row">
          <!-- image -->
          <div class="col-lg-6">
              <img class="img-fluid rounded" src="assets/imgs/galleries.jpg" alt="citrobot gallery">
          </div>
          <!-- event body -->
          <div class="col-lg-6">
            <!-- title -->
            <h2 class="card-title">Photo Galleries</h2>
            <br>
            <!-- text -->
            <p class="card-text">Curious about how our club meetings look?
              Want to see what kind of virtual socials we have? Or maybe just want to see the progress
              of one of our various projects? View them now in our photo gallery!
             </p>
             <a href="../more/gallery" class="btn pull-right btn-light">View Photo Gallery &rarr;</a>
          </div>
          <!-- /.event body -->
        </div>
      </div>
      <!-- date -->
      <div class="card-footer">
        Posted on August 27, 2020 by Alexandra French (Webmaster)
      </div>
    </div>
    <!-- /.post 6 -->
    <!-- Event Post 5 -->
    <div class="mb-4 card-wht-blk">
      <div class="card-body">
        <div class="row">
          <!-- image -->
          <div class="col-lg-6">
              <img class="img-fluid rounded" src="assets/imgs/member-history.jpg" alt="member history">
          </div>
          <!-- event body -->
          <div class="col-lg-6">
            <!-- title -->
            <h2 class="card-title">Club Member History</h2>
            <br>
            <!-- text -->
            <p class="card-text">You can now view our officer and member histories. Histories of our members
              all the way to 2016 and histories of our officers all the way to 2015 are available. From now
              on, all new members will be added to our histories.
            </p>
            <a href="../about/past-members" class="btn pull-right btn-dark">View Past Members</a>
            <a href="../about/past-officers" class="btn pull-right btn-dark">View Past Officers</a>
          </div>
          <!-- /.event body -->
        </div>
      </div>
      <!-- date -->
      <div class="card-footer">
        Posted on August 26, 2020 by Alexandra French (Webmaster)
      </div>
    </div>
    <!-- /.post 5 -->
    <!-- Event Post 4 -->
    <div class="card-blk-gold mb-4">
      <div class="card-body">
        <div class="row">
          <!-- image -->
          <div class="col-lg-6">
              <img class="img-fluid rounded" src="assets/imgs/FA20-intro.jpg" alt="fall 2020 intro meeting">
          </div>
          <!-- event body -->
          <div class="col-lg-6">
            <!-- title -->
            <h2 class="card-title">Introductory Meetings</h2>
            <br>
            <!-- text -->
            <p class="card-text">As we get closer to fall, we get closer to our introductory meetings!
              Now planned for Aug 31st and Sept 8th at 6:30PM.
              Join our <a href="https://discord.gg/ypWpanw">Discord</a> to meet us!
              We'll discuss the club, our three robotics projects, and our expected virtual software, CAD, and general workshops.
             </p>
          </div>
          <!-- /.event body -->
        </div>
      </div>
      <!-- date -->
      <div class="card-footer">
        Posted on August 23, 2020 by Alexandra French (Webmaster)
      </div>
    </div>
    <!-- /.post 4 -->
    <!-- Event Post 3 -->
    <div class="mb-4 card-wht-blk">
      <div class="card-body">
        <div class="row">
          <!-- image -->
          <div class="col-lg-6">
              <img class="img-fluid rounded" src="assets/imgs/darkmode.jpg" alt="dark mode website">
          </div>
          <!-- event body -->
          <div class="col-lg-6">
            <!-- title -->
            <h2 class="card-title">Darkmode and Constitution</h2>
            <br>
            <!-- text -->
            <p class="card-text">The website now includes dark mode! Automatically added for any browser
              with the default. Otherwise, enable it under "More".<br>
              With dark mode comes a new page: our constitution. Check out any and all club guidelines there.
            </p>
            <a href="../about/constitution" class="btn pull-right btn-dark">View the Constitution &rarr;</a>
          </div>
          <!-- /.event body -->
        </div>
      </div>
      <!-- date -->
      <div class="card-footer">
        Posted on August 10, 2020 by Alexandra French (Webmaster)
      </div>
    </div>
    <!-- /.post 3 -->
    <!-- Event Post 2 -->
    <div class="card-blk-gold mb-4">
      <div class="card-body">
        <div class="row">
          <!-- image -->
          <div class="col-lg-6">
              <img class="img-fluid rounded" src="assets/imgs/citrobot.jpg" alt="citrobot">
          </div>
          <!-- event body -->
          <div class="col-lg-6">
            <!-- title -->
            <h2 class="card-title">New Semester</h2>
            <br>
            <!-- text -->
            <p class="card-text">Fall is quickly approaching! With it, we're
              working out virtual meetups, new semester workshops, club meeting
              days, and more! Join our <a href="https://discord.gg/ypWpanw">Discord</a>
              to get involved, check out our current projects:
              <a href="../projects/bowser/index">Bowser</a>,
              <a href="../projects/citrobot/index">Citrobot</a>, and
              <a href="../projects/demobot/index">Demobot</a>,
              and check back for more updates!
             </p>
          </div>
          <!-- /.event body -->
        </div>
      </div>
      <!-- date -->
      <div class="card-footer">
        Posted on August 6, 2020 by Alexandra French (Webmaster)
      </div>
    </div>
    <!-- /.post 2 -->
    <!-- Event Post 1 -->
    <div class="mb-4 card-wht-blk">
      <div class="card-body">
        <div class="row">
          <!-- image -->
          <div class="col-lg-6">
              <img class="img-fluid rounded" src="assets/imgs/new-website.jpg" alt="new website">
          </div>
          <!-- event body -->
          <div class="col-lg-6">
            <!-- title -->
            <h2 class="card-title">New Website</h2>
            <br>
            <!-- text -->
            <p class="card-text">The new Robotics Club of Central Florida website is up!
              New features such as news have been added, tracking of projects has been
              made easier, and most old pages have been updated. Old projects and newsletter
              is still under construction!
            </p>
            <a href="post-1" class="btn pull-right btn-dark">Learn About the Website &rarr;</a>
          </div>
          <!-- /.event body -->
        </div>
      </div>
      <!-- date -->
      <div class="card-footer">
        Posted on August 5, 2020 by Alexandra French (Webmaster)
      </div>
    </div>
    <!-- /.post 1 -->

    <!-- pagination -->
    <ul class="pagination justify-content-center mb-4">
      <li class="page-item">
        <a class="page-link" href="index">&larr; Older</a>
      </li>
    </ul>
    <!-- /.pagination -->

  </div>
  <!-- /.container -->
