

  <!-- Page Content -->
  <div class="container">

    <!-- post content (left) and social media (right) -->
    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">
        <!-- header title and date -->
        <div class="rounded container-blk-wht">
          <h1 class="mt-4 mb-3 p-1 title-gold">&nbsp;New Website
          </h1>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;Posted on August 6, 2020 at 12:00 PM</p>
          <br>
        </div>

        <!-- Page Body Container -->
        <div class="p-3 post-body">

          <!-- Announcement Images  -->
          <div class="row">
            <div class="col-lg-6">
              <img class="img-fluid rounded" src="assets/imgs/posts/old-website.jpg" alt="old website">
            </div>
            <div class="col-lg-6">
              <img class="img-fluid rounded" src="assets/imgs/posts/new-website.jpg" alt="new website">
            </div>
          </div>

          <!-- Announcement Content -->
          <p class="lead">
            <br>
            The Robotics Club at UCF has changed name to the Robotics Club of Cental Florida.
            With this, the club has also gained a new website! New pages, updated old pages, and
            many new widget integrations await.
          </p>

          <p>
            Out with the old and in with the new. This new website has completely overhauled the old website
            - every page of it is now removed and replaced.

          <p> Some of the new pages:
            <ul class="list-unstyled">
              <li>• New <a href="../projects/index">Projects</a> page</li>
              <li>• New individual project pages:
                <a href="../projects/bowser/index">Bowser</a>,
                <a href="../projects/citrobot/index">Citrobot</a>, and
                <a href="../projects/demobot/index">Demobot<a>.
              </li>
              <li>• New <a href="index">Announcements & Events</a> page</li>
              <li>• New <a href="../news/social-media">Social Media</a> page</li>
              <li>• New <a href="../about/contact">Contact Us</a> page</li>
            </ul>
          </p>

          <p><br>... And all the updated pages:
            <ul class="list-unstyled">
              <li>• Updated <a href="../index">Homepage</a></li>
              <li>• Updated <a href="../faq/index">FAQ</a> page</li>
              <li>• Updated <a href="../sponsors/index">Sponsor</a> page</li>
            </ul>
          </p>

          <p>
            More updates underway, and more regular projects updates will be posted here and on their
            individual project pages. Look forward to recieving all the up-to-date info from our club!
          </p>
          
          <p>
            New here? Looking to join? Looking to contact someone? Chat with our club on
            <a href="https://discord.gg/ypWpanw">Discord</a>. New members welcome!
          </p>
          <hr>
        </div>
        <!-- /.page body container -->
      </div>
      <!-- /.post content -->

      <!-- updates and social media -->
      <div class="col-lg-4">

        <!-- Recent Updates Widget -->
        <div class="card my-4 card-blk-wht">
          <h2 class="text-center card-header">Recent Updates</h2>
          <div class="card-body">
            <div class="row">
              <!-- column 1 -->
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="../projects/bowser/index">Bowser</a>
                  </li>
                  <li>
                    <a href="../projects/citrobot/index">Citrobot</a>
                  </li>
                  <li>
                    <a href="../projects/demobot/index">Demobot</a>
                  </li>
                </ul>
              </div>
              <!-- /.column 1 -->
              <!-- column 2 -->
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="https://github.com/RoboticsClubatUCF">Bower's Github</a>
                  </li>
                  <li>
                    <a href="post-1">New Website</a>
                  </li>
                  <li>
                    <a href="index">New Semester</a>
                  </li>
                </ul>
              </div>
              <!-- /.column 2 -->
            </div>
          </div>
        </div>
        <!-- /.recent updates-->
        <div class="intermediate-container-xs"></div>

        <!-- Twitter feed  -->
        <h2 class="text-center p-1 rounded title-blk-gold">Twitter Feed</h2>
        <a class="twitter-timeline" data-width="350" data-height="600" data-theme="dark" href="https://twitter.com/RoboticsClubCFl?ref_src=twsrc%5Etfw">Tweets by RoboticsClubCFl</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <!-- /.twitter feed -->

      </div>
      <!-- /.updates and social media -->

    </div>
    <!-- /.page content -->

  </div>
  <!-- /.container -->
