

  <!-- Page Content -->
  <div class="container">

    <!-- about the club -->
    <div class="header-container-med">
      <div class="row justify-content-center align-items-center">
        <!-- ness -->
        <div class="col-lg-6 h-100">
          <img class="img-fluid rounded" src="assets/imgs/about/header-1.png" alt="ness">
        </div>
        <!-- about info -->
        <div class="col-lg-6 h-100">
          <h1 class="rounded text-center p-2 title-blk-gold">About the Club</h1>
          <div class="container-wht-blk rounded p-3">
            <p>The Robotics Club of Central Florida is full of devoted members, both undergraduate and graduate,
               working towards furthering the field of robotics.
               We are entirely student run with the guidance of our advisor, Crystal Maraj.
               <br>New members of any major and year are always welcome!
             </p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.about the club -->

    <!-- mission statement  and video -->
    <div class="intermediate-container-med">
      <!-- mission -->
      <h2 class="rounded p-1 title-blk-wht">&nbsp;Our Mission</h2>
      <div class="row">
        <div class="col-lg-6 mb-3">
          <div class="container-wht-blk rounded p-3">
            <p>The Robotics Club of Central Florida aims to further both ourselves and
              the field of robotics through our challenging and innovative projects. We
              value teamwork, perseverance, and having fun.
            </p><br>
            <p>We are currently working on three projects:
              <a href="../projects/bowser/index">Bowser</a>, an autonomous ground vehicle,
              <a href="../projects/citrobot/index">Citrobot</a>, a 15lb combat robot, and
              <a href="../projects/demobot/index">Demobot</a>, a demonstrative robot.
            </p>
          </div>
        </div>
        <!-- youtube -->
        <div class="col-lg-6 mb-3">
            <div class="youtube-embed">
            <iframe src="https://www.youtube.com/embed/YrO4ms-1Zak" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- /.mission -->
  </div>
  <!-- /.container -->
