

  <!-- Page Content -->
  <div class="container">

    <!-- constitution header -->
    <div class="header-container-none">
      <h1 class="mt-4 mb-3 text-center rounded p-2 title-blk-gold">Club Constitution
      </h1>
    </div>
    <!-- /.header -->

    <!-- alert popup to click for changes -->
    <div class="intermediate-container-xs">
      <div class="title-alert rounded">
        <!-- alert title -->
        New changes: Amendments III and IV added.
        <!-- popup button -->
        <button id="alert-btn" class="btn-red">See Changes</button>

        <!-- alert popup -->
        <div id="alert-modal" class="modal">
         <!-- alert content -->
         <div class="alert-content rounded">
           <span class="close rounded">X</span>
           <div class="title-blk-gold rounded m-5">
             <p>Amendments Added</p>
           </div>
           <p>Amendment III - Membership Dues<br>
              Establishes requirements for membership dues and grace periods.<br>
              Amendment IV - Requirements for Official Meetings<br>
              Establishes official officer meeting requirements, including people that must be present and scheduling.
          </p>
         </div>
        </div>
        <!-- /.alert content -->
      </div>
    </div>
    <!-- /.alert -->

    <!-- tabs -->
    <ul class="mini-tabs nav nav-tabs rounded-top">
      <li class="nav-item rounded-top">
        <a class="nav-link active" data-toggle="tab" href="#home">Preamble</a>
      </li>
      <li class="nav-item rounded-top">
        <a class="nav-link" data-toggle="tab" href="#menu1">Membership</a>
      </li>
      <li class="nav-item rounded-top">
        <a class="nav-link" data-toggle="tab" href="#menu2">Officers</a>
      </li>
      <li class="nav-item rounded-top">
        <a class="nav-link" data-toggle="tab" href="#menu3">Officer Selection</a>
      </li>
      <li class="nav-item rounded-top">
        <a class="nav-link" data-toggle="tab" href="#menu4">Amendments</a>
      </li>
    </ul>

    <!-- tab panes -->
    <div class="tab-content">
      <div class="tab-pane container active" id="home">
        <div class="tab-title-container">
          <h1 class="rounded p-2">Article I - Organization Name</h1>
        </div>
        <div class="tab-text-container m-3">
          <p>The name of this organization shall be the Robotics Club of Central Florida.</p>
        </div>

        <div class="tab-title-container rounded">
          <h1 class="rounded p-2">Article II - Preamble</h1>
        </div>

        <div class="tab-text-container m-3">
        <p>The mission of the Robotics Club is to bring together students with a passion for robotics and provide them with an opportunity
          to practice relevant skills through hands-on, student-driven projects.
        </p>
        <p>The members of the Robotics Club will work on any and all aspects of robotics, including but not limited to computer engineering,
          electrical engineering, mechanical engineering, and computer science. Robotics Club members should strive to incorporate other,
          less traditional disciplines in order to create unique and innovative robots.
        </p>
        <p>The robotics projects of the Robotics Club should be capable of a high degree of autonomy, as autonomous robots present
          challenges not present in teleoperated robots, and more fully integrate the various engineering disciplines.
        </p>
        </div>
      </div>

      <div class="tab-pane container fade" id="menu1">
        <div class="tab-title-container rounded">
          <h1 class="rounded p-2">Article III - Membership</h1>
        </div>

        <div class="tab-title-container rounded">
          <h2 class="rounded p-2">Section I: Membership Statement</h2>
        </div>
        <div class="tab-text-container m-3">
          <p>Membership is limited to all students who have paid dues and are enrolled with the University of Central Florida.</p>
          <p>Active membership will be limited to all students who are currently enrolled at the University of Central Florida.</p>
          <p>No discrimination shall be made on the basis of gender, race, age, creed, religion, disability, sexual preference,
          national origin, marital status, parental status or veteran’s status.</p>
          <p>No hazing or discrimination will be used as a condition of membership in this organization.</p>
          <p>Affiliate membership is limited to UCF faculty, staff, alumni and Central Florida Research Park employees, who may be non-voting members.</p>
          <p>At no time will the voting membership fall below 75% of the organization.</p>
        </div>

        <div class="tab-title-container rounded">
          <h2 class="rounded p-2">Section II: Recruitment</h2>
        </div>
        <div class="tab-text-container m-3">
          <p>Recruitment shall take place throughout the year and membership is open at all times.</p>
        </div>


        <div class="tab-title-container rounded">
          <h2 class="rounded p-2">Section III: Revocation of Membership</h2>
        </div>
        <div class="tab-text-container m-3">
          <h3>Membership may be revoked in two ways:</h3>
          <div class="tab-text-container m-3">
            <h4>Internal Events:<h4>
            <div class="m-3">
              <p>Membership may be revoked without mutual agreement for non-participation, misconduct, or violations
                  of any provisions of the Constitution. The member will be notified in writing of the possible revocation at least 72
                  hours prior to the vote and will be allowed to address the officers of the organization in order to relate to officers
                  any relevant defense prior to the voting for removal. Membership can only be revoked upon officer consensus or on the
                  decision of the faculty advisor in the event of a failure to reach consensus.
              </p>
            </div>
            <h4>External Events:</h4>
            <div class="m-3">
            <p>A standing member of the club is automatically and instantly suspended from the Club under the following
              conditions, with the ability to be reinstated by officer consensus or in the event that the trigger of this clause was
              found to be in error by UCF.  This clause overrides all other removal rules in this document.</p>
              <div class="m-3">
                <p>• Committing a Misdemeanor or Felony under any jurisdiction within the United States of America.
                  <br>
                  • Committing any action that would cause the Club to be suspended or disbanded under UCF rules and regulation.
                </p>
              </div>
              <p>If UCF deems the member is guilty of the triggering offense, the member is removed.</p>
          </div>
          </div>
        </div>
      </div>
      <div class="tab-pane container fade" id="menu2">
        <div class="tab-title-container">
          <h1 class="rounded p-2">Article IV- Officers</h1>
        </div>

        <div class="tab-title-container">
          <h2 class="rounded p-2">Section I: Eligibility</h2>
        </div>
        <div class="tab-text-container m-3">
          <p>All officers of the Robotics Club shall possess at least the minimum requirements to
          serve in a leadership position as stated in the most recent The Golden Rule of the
          University of Central Florida. All officers must be active members in the Robotics
          Club as defined in Article V Section I.</p>
        </div>

        <div class="tab-title-container">
          <h2 class="rounded p-2">Section II: Titles and Duties</h2>
        </div>
        <div class="tab-text-container m-3">
          <p>The offices of this organization shall include a President, Vice President, Treasurer, Secretary,
            Marketing, Lab Manager, and Webmaster. No officer will be permitted to hold more than one officer position.
            Any officer may be re-elected for multiple terms. Officers cannot appoint themselves for another term without
            being re-elected as described in Article V. Officer decisions will be made by discussion to consensus unless
            the officers elect to postpone the decision to a later date or the decision is made by the faculty advisor
            in the event of a failure to reach consensus.</p>
        </div>

        <div class="tab-text-container m-3">
          <h3>The President shall:</h3>
          <div class="tab-text-container m-3">
            <p>• Supervise and control the activities of the organization.<br>
            • Preside over all meetings and call all meetings to order.<br>
            • Be one of four signers on financial documents.<br>
            • Coordinate all conference.s<br>
            • Ensure all officers are performing their duties as defined in this Constitution.<br>
            • Assign special projects to officers.</p>
          </div>

          <h3>The Vice President shall:</h3>
          <div class="tab-text-container m-3">
            <p>• Assist the President in his/her duties.<br>
            • Assume the President’s responsibilities in his/her absence.<br>
            • Be one of four signers on financial documents.<br>
            • Keep accurate records of all meetings in the Secretary’s absence.<br>
            • Plan and be responsible for all retreats and training of the organization.<br>
            • Perform an audit of all financial transactions of the organization twice a year.<br>
            • Assist in special projects as assigned by the President.</p>
          </div>

          <h3>The Secretary shall:</h3>
          <div class="tab-text-container m-3">
            <p>• Notify members of meetings via e-mail and/or telephone at least 48 hours in advance.<br>
            • Keep accurate records of all meetings.<br>
            • Maintain accurate list of members and their contact information.<br>
            • Prepare ballots for elections.<br>
            • Keep copy of constitution and have available for members.<br>
            • Assist in special projects as assigned by the President.</p>
          </div>

          <h3>The Treasurer shall:</h3>
          <div class="tab-text-container m-3">
            <p>• Keep an accurate account of all funds received and expended.<br>
            • Be one of four signers on financial documents.<br>
            • Be responsible for collecting dues and notifying members who are delinquent in their payments.<br>
            • Be responsible for keeping track of when dues are paid by members.<br>
            • Be responsible for creating budget reports at the beginning of each Fall and spring semester and as requested by the President, Vice President, and/or
              UCF faculty advisor.<br>
            • Provide financial records sufficient to allow the Vice-President to perform audits.<br>
            • Assist in special projects as assigned by the President.</p>
          </div>

          <h3>The Marketing Officer shall:</h3>
          <div class="tab-text-container m-3">
            <p>• Co-curate organization social media accounts.<br>
            • Maintain correspondence with existing sponsors.<br>
            • Manage overall effort of club to procure new sponsors.<br>
            • Begin and maintain outreach efforts to promote the club.<br>
            • Assist in special projects as assigned by the President.</p>
          </div>

          <h3>The Lab Manager Shall:</h3>
          <div class="tab-text-container m-3">
            <p>• Maintain an inventory of the lab.<br>
            • Monitor tool condition.<br>
            • Manage surplussing of equipment.<br>
            • Monitor overall condition and cleanliness of the lab.<br>
            • Oversee lab cleaning days.<br>
            • Oversee safety procedures.<br>
            • Assist in special projects as assigned by the President.</p>
          </div>

          <h3>The Webmaster Shall:</h3>
          <div class="tab-text-container m-3">
            <p>• Maintain the content and design of the website.<br>
            • Co-curate the content of any all club social media accounts.<br>
            • Assist in special projects assigned by the President.</p>
          </div>
        </div>
      </div>
      <div class="tab-pane container fade" id="menu3">
        <div class="tab-title-container">
          <h1 class="rounded p-2">Article V - Selection of Officers</h1>
        </div>

        <div class="tab-title-container">
          <h2 class="rounded p-2">Section I: Eligibility to Vote and Hold Office</h2>
        </div>
        <div class="tab-text-container m-3">
          <p>Active voting membership will be limited to all students who are active members in good standing and currently enrolled at the University of Central Florida.
            Only Students who have been active members of the Robotics Club for at least one calendar month will have voting rights. Only active voting members who meet
            the requirements stated in Article V, Section 1 are eligible to hold offices. If the number of eligible voter’s membership falls below the required 75% of the
            organization, non-eligible members with the highest seniority (most time as active members in organization) will be made eligible until the 75% voter membership
            is achieved.</p>
          </div>

          <div class="tab-title-container">
            <h2 class="rounded p-2">Section II: Nomination Process</h2>
          </div>
          <div class="tab-text-container m-3">
            <p>The nomination of officers shall occur at the first meeting held in November.
            Any eligible voting member (as defined in Article III Section 1) present may nominate someone or themselves
            for office by verbally nominating the individual during this procedure. However, the nominee must be considered an
            eligible member (as defined in Article V Section 1). Absentee ballots and proxy ballots are not permitted in the nomination or election process.</p>
          </div>

          <div class="tab-title-container">
            <h2 class="rounded p-2">Section III: Election process</h2>
          </div>
          <div class="tab-text-container m-3">
            <p>The election of officers shall occur at the second meeting held in November.</p>
            <p>The nominated candidates will be given a chance to address the organization to discuss his/her qualifications and reasons why they should be selected.
              Once each candidate has had the opportunity to speak, all eligible members (as defined in Article III Section I) present will have the opportunity to vote
              by secret ballot. The faculty/project advisor and current highest-ranking officer not running for office shall announce the officer with a simple majority
              of votes cast by eligible members.</p>
            <p>After announcing the new officer the highest-ranking officer not running for office shall ask if any eligible members
              contest the count. If an eligible member contests the count the faculty/project advisor and the highest-ranking officer not running for office will recount
              all votes. In the event of a tie, the President shall cast the deciding vote for the office unless he/she is running for the said office. In that case, the next
              highest-ranking officer shall make the deciding vote.
            </p>
            <p> Elections will be run in the following order, with losers from each election eligible to run for later
              elections:
              <br>
              <p class="m-3">President, Treasurer, Vice President, Secretary, Lab Manager, Marketing/PR, Webmaster </p>
            </p>
          </div>

        <div class="tab-title-container">
          <h2 class="rounded p-2">Section IV: Terms of Office</h2>
        </div>
        <div class="tab-text-container m-3">
          <p>Officer terms shall begin at the start of the Spring semester and end when new officers are installed.</p>
        </div>
      </div>
      <div class="tab-pane container fade" id="menu4">
        <div class="tab-title-container">
          <h1 class="rounded p-2">Article VI - Amendments</h1>
        </div>
        <div class="tab-text-container m-3">
          <p>Amendments to the constitution must be proposed in writing to the President. The
          amendment must then be presented to the organization during a scheduled meeting
          and should include a full explanation and/or rationale for the amendment. The
          amendment must be voted on at the next scheduled meeting. The amendment shall
          not take effect until approved by a 2/3 majority vote of eligible members of the
          Organization.</p>
        </div>

        <div class="tab-title-container">
          <h2 class="rounded p-2">Amendment I - Lab Space</h2>
        </div>
        <div class="tab-text-container m-3">
          <p>The location of the Robotics Club of Central Florida shall be the Robotics Club Lab located in room 108 of the UCF-IST: Partnership II building,
            which is at 3100 Technology Parkway. The only possible reason for this organization to leave is a direct eviction by the Institute for
            Simulation and Training (IST).</p>
        </div>

        <div class="tab-title-container">
          <h2 class="rounded p-2">Amendment II - Advisors Employed by UCF</h2>
        </div>
        <div class="tab-text-container m-3">
          <p>The Robotics Club has two types of advisor: the Faculty Advisor, and the Project Advisors.
          <p>The Faculty Advisor is a member of the IST faculty who acts as the tie-breaker in the event a stalemate in an officer's decision, among other responsibilities.
            The Faculty Advisor is also the <b>ONLY</b> UCF faculty member whose name may appear as a signatory on UCF documents.  This position is an addendum to the requirements
            and duties of the UCF registered position of Faculty Advisor.</p>
          <p>Project Advisors are UCF faculty who assist in projects.  Project Advisors have the Affiliate Member status as listed in Article III.</p>
        </div>

        <div class="tab-title-container">
          <h2 class="rounded p-2">Amendment III - Membership Dues</h2>
        </div>
        <div class="tab-text-container m-3">
          <p>• Members are required to pay dues after their initial meeting with the club and within a grace period that is determined at the officer’s discretion.
          The grace period will be announced by the officers at the start of the semester.<br>
          • All members are required to pay the same dues.<br>
          • The value of dues can be decided before each semester by an official meeting of club officers with a 2/3 majority vote.</p>
        </div>

        <div class="tab-title-container">
          <h2 class="rounded p-2">Amendment IV - Requirements for Official Meetings</h2>
        </div>
        <div class="tab-text-container m-3">
          <p>Meetings of Robotics Club of Central Florida (RCCF) officers are deemed “official” if and only if:</p>
          <p>• Meetings are scheduled ahead of time, with at least five (5) business days of warning for all Officers and Faculty Advisor(s).<br>
          • The following people are present:<br>
          • The value of dues can be decided before each semester by an official meeting of club officers with a 2/3 majority vote.<br>
          &nbsp;&nbsp;&nbsp;⚬ Any Robotics Club of Central Florida Faculty Advisor(s).<br>
          &nbsp;&nbsp;&nbsp;⚬ At least five (5) out of seven (7) Robotics Club of Central Florida officers are present, with three of those officers being: President, Vice President, and Treasurer.</p>
        </div>
      </div>
    </div>


  </div>
  <!-- /.container -->
