  <!-- Page Content -->
  <div class="container">
    <!-- advisors -->
    <div class="intermediate-container-med">
      <h2 class="rounded p-1 text-center title-blk-wht">Our Advisors</h2>
      <!-- row 1 (main advisor) -->
      <div class="row">
        <div class="col-lg mb-4">
          <div class="people card-blk-wht h-100 text-center">
            <img class="card-img-top" src="assets/imgs/about/crystal.jpg" alt="club advisor maraj">
            <div class="card-body">
              <h3 class="card-title">Crystal Maraj</h3>
              <p class="card-subtitle mb-2">Faculty Advisor</p>
              <p class="card-text">Our main advisor for everything club related.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row1 -->
      <!-- row 2 (discipline specific advisors) -->
      <div class="row">
        <div class="col-lg mb-4">
          <div class="people card-blk-wht h-100 text-center">
            <img class="card-img-top" src="assets/imgs/about/chan.jpg" alt="electrical project advisor chan">
            <div class="card-body">
              <h3 class="card-title">ChungYong Chan</h3>
              <p class="card-subtitle mb-2">Electrical Project Advisor</p>
              <p class="card-text">Advises us on everything electrical.</p>
            </div>
          </div>
        </div>
        <div class="col-lg mb-4">
          <div class="people card-blk-wht h-100 text-center">
            <img class="card-img-top" src="assets/imgs/about/park.jpg" alt="mechanical project advisor park">
            <div class="card-body">
              <h3 class="card-title">Joon Park</h3>
              <p class="card-subtitle mb-2">Mechanical Project Advisor</p>
              <p class="card-text">Advises us on all mechanical knowledge.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row2 -->
    </div>
    <!--- advisors -->
  </div>
  <!-- /.container -->
