  <!-- Page Content -->
  <div class="container">
    <!-- members -->
    <div class="intermediate-container-xs">
      <h2 class="rounded p-1 text-center title-blk-gold">Our Members</h2>
      <p></p>
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Alva, Julio</p></div>&nbsp;
        <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Angarita, Juan</p></div>&nbsp;
        <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Barton, Azeem</p></div>&nbsp;
        <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Conrad, Jonathan</p></div>&nbsp;
        <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Evans, Valex</p></div>&nbsp;
        <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Fletcher, Wesley</p></div>&nbsp;
        <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>French, Alexandra</p></div>&nbsp;
        <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Fuist, Daniel</p></div>&nbsp;
        <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Glaspey, Joshua</p></div>&nbsp;
        <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Hassidof, Salomon</p></div>&nbsp;
        <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Howard, Dwight, II</p></div>&nbsp;
        <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Jacklich, Marian</p></div>&nbsp;
        <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Luna, Bryan</p></div>&nbsp;
        <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Maldonado, Doeddil</p></div>&nbsp;
        <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Mark, Alan</p></div>&nbsp;
        <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Monaco, Gustavo "Gus"</p></div>&nbsp;
        <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Nolasco, Jennifer</p></div>&nbsp;
        <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Pappachen, Jacob</p></div>&nbsp;
        <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Park, MinJi</p></div>&nbsp;
        <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Quispe, Frederick Junior</p></div>&nbsp;
        <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Rodriguez, Sheina</p></div>&nbsp;
        <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Siddiqi, Samael</p></div>&nbsp;
        <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Simmonds, Marc</p></div>&nbsp;
        <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Stroup, Vijay</p></div>&nbsp;
        <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Sunderland, Sandybel</p></div>&nbsp;
        <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Tapizquent, Jose</p></div>&nbsp;
        <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Thirkell, Sage</p></div>&nbsp;
        <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Tryzbiak, Gavin</p></div>&nbsp;
        <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Turner, Cydni</p></div>&nbsp;
        <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Vasquez, Ricardo</p></div>&nbsp;
        <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Watkins, Braedon</p></div>&nbsp;
        <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Zelenty, Steve</p></div>
      </div>
      <!-- past members -->
      <div class="row align-items-center justify-content-center">
        <div class="col-sm-10">
      <h5 class="title-blk-gold p-2 text-center invert"><a href="past-members">View Past Members</a> </h5>
      </div>
    </div>
      <!-- /.past members -->
    </div>
    <!-- /.members -->
  </div>
  <!-- /.container -->
