

  <!-- Page Content -->
  <div class="container">

    <!-- past officers -->
    <div class="header-container-sm">
      <h1 class="mt-4 mb-3 text-center rounded p-1 title-blk-gold">Past Officers
      </h1>

      <!-- text content -->
      <div class="row align-items-center justify-content-center text-center">
        <div class="col-lg-12">
          <div class="container-wht-blk rounded p-3">
            <p>The Robotics Club of Cental Florida has been a long running club. This page exists
              to help capture the history of our officers. Here you can find all of our officers, all
              the way back to 2015.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.past officers -->

    <!-- tabs for year -->
    <ul class="nav nav-tabs wht-tabs">
     <li class="nav-item rounded-top">
       <a class="nav-link" href="past-officers">2020s</a>
     </li>
     <li class="nav-item rounded-top">
       <a class="nav-link active" href="past-officers-2010s">2010s</a>
     </li>
    </ul>
    <!-- tabs for year -->

    <!-- tabs for officers -->
    <ul class="mini-tabs nav nav-tabs rounded-top">
      <li class="nav-item rounded-top">
        <a class="nav-link active" data-toggle="tab" href="#fa2019">2019-20</a>
      </li>
      <li class="nav-item rounded-top">
        <a class="nav-link" data-toggle="tab" href="#fa2018">2018-19</a>
      </li>
      <li class="nav-item rounded-top">
        <a class="nav-link" data-toggle="tab" href="#fa2017">2017-18</a>
      </li>
      <li class="nav-item rounded-top">
        <a class="nav-link" data-toggle="tab" href="#fa2016">2016-17</a>
      </li>
      <li class="nav-item rounded-top">
        <a class="nav-link" data-toggle="tab" href="#fa2015">2015-16</a>
      </li>
    </ul>

    <!-- tab content for officers -->
    <div class="tab-content">
      <!-- 2019-2020 -->
      <div class="tab-pane container active" id="fa2019">
        <!-- officers -->
        <div class="intermediate-container-xs">
          <h2 class="rounded p-1 text-center title-blk-gold">2019 - 2020</h2>

          <!-- row 1 (president & vice president) -->
          <div class="row">
            <div class="col-lg mb-3">
              <div class="people card-blk-wht h-100 text-center">
                <img class="card-img-top" src="assets/imgs/about/sal.jpg" alt="president sal">
                <div class="card-body">
                  <h4 class="card-title">Salomon Hassidoff</h4>
                  <h6 class="card-subtitle mb-2">President</h6>
                  <p class="card-text">Mechanical Engineer
                    <br>Managed the entire club, ensured all training, and brought us above and beyond during difficult times.</p>
                </div>
              </div>
            </div>
            <div class="col-lg mb-3">
              <div class="people card-blk-wht h-100 text-center">
                <img class="card-img-top" src="assets/imgs/about/alan.jpg" alt="vice president alan">
                <div class="card-body">
                  <h4 class="card-title">Alan Mark</h4>
                  <h6 class="card-subtitle mb-2">Vice President</h6>
                  <p class="card-text">Mechanical Engineer
                    <br>Co-managed the entire club, ensured all training, and brought us above and beyond during difficult times.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row 1 -->
          <!-- row 2 (treasurer, webmaster, secretary)-->
          <div class="row">
            <div class="col-lg mb-4">
              <div class="people card-blk-wht h-100 text-center">
                <img class="card-img-top" src="assets/imgs/about/wesley.jpg" alt="treasurer wesley">
                <div class="card-body">
                  <h4 class="card-title">Wesley Fletcher</h4>
                  <h6 class="card-subtitle mb-2">Treasurer</h6>
                  <p class="card-text">Computer Engineer
                    <br>Kept track of all of the club's finances. Managed much of the club official documents.</p>
                </div>
              </div>
            </div>
            <div class="col-lg mb-4">
              <div class="people card-blk-wht h-100 text-center">
                <img class="card-img-top" src="assets/imgs/about/french.png" alt="webmaster french">
                <div class="card-body">
                  <h4 class="card-title">Alexandra French</h4>
                  <h6 class="card-subtitle mb-2">Webmaster</h6>
                  <p class="card-text">Computer Scientist
                    <br>Created the website from scratch in 2020. Managed all of the club social media.</p>
                </div>
              </div>
            </div>
            <div class="col-lg mb-4">
              <div class="people card-blk-wht h-100 text-center">
                <img class="card-img-top" src="assets/imgs/about/marc.jpg" alt="secretary marc">
                <div class="card-body">
                  <h4 class="card-title">Marc Simmonds</h4>
                  <h6 class="card-subtitle mb-2">Secretary</h6>
                  <p class="card-text">Computer Engineer
                    <br>Kept tabs on our club meetings and managed all of the club meeting notes.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row 2 -->
          <!-- row 3 (lab manager and marketing/pr) -->
          <div class="row">
            <div class="col-lg mb-4">
              <div class="people card-blk-wht h-100 text-center">
                <img class="card-img-top" src="assets/imgs/about/dwight.jpg" alt="lab manager dwight">
                <div class="card-body">
                  <h4 class="card-title">Dwight Howard</h4>
                  <h6 class="card-subtitle mb-2">Lab Manager</h6>
                  <p class="card-text">Aerospace/Mechanical Engineer
                    <br>Ensured lab safety. Reorganized the entire lab and started up tracking inventory.</p>
                </div>
              </div>
            </div>
            <div class="col-lg mb-4">
              <div class="people card-blk-wht h-100 text-center">
                <img class="card-img-top" src="assets/imgs/about/azeem.jpg" alt="marketing azeem">
                <div class="card-body">
                  <h4 class="card-title">Azeem Barton</h4>
                  <h6 class="card-subtitle mb-2">Marketing & PR</h6>
                  <p class="card-text">Graphic Designer
                    <br>Created t-shirt and other such merchandise design. Took care of related processing.</p>
                </div>
              </div>
            </div>
            <div class="col-lg mb-4">
              <div class="people card-blk-wht h-100 text-center">
                <img class="card-img-top" src="assets/imgs/about/sheina.jpg" alt="marketing sheina">
                <div class="card-body">
                  <h4 class="card-title">Sheina Rodriguez</h4>
                  <h6 class="card-subtitle mb-2">Marketing & PR</h6>
                  <p class="card-text">Mechanical Engineer
                    <br>Worked with our logo designs and designed all of our advertising posters.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row 3 -->
        </div>
        <!-- officers -->
      </div>
      <!-- /.2019-2020 -->
      <!-- 2018-2019-->
      <div class="tab-pane container fade" id="fa2018">
        <!-- officers -->
        <div class="intermediate-container-xs">
          <h2 class="rounded p-1 text-center title-blk-gold">2018 - 2019</h2>

          <!-- row 1 (president & vice president) -->
          <div class="row">
            <div class="col-lg mb-3">
              <div class="people card-blk-wht h-100 text-center">
                <img class="card-img-top" src="assets/imgs/old-officers/jade-zsiros.jpg" alt="president jade">
                <div class="card-body">
                  <h4 class="card-title">Jade Zsiros</h4>
                  <h6 class="card-subtitle mb-2">President</h6>
                  <p class="card-text">Computer Engineer
                  <br></p>
                </div>
              </div>
            </div>
            <div class="col-lg mb-3">
              <div class="people card-blk-wht h-100 text-center">
                <img class="card-img-top" src="assets/imgs/old-officers/brian_blalock.jpg" alt="vice president brian">
                <div class="card-body">
                  <h4 class="card-title">Brian Blalock</h4>
                  <h6 class="card-subtitle mb-2">Vice President</h6>
                  <p class="card-text">Computer Scientist
                  <br></p>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row 1 -->
          <!-- row 2 (treasurer & historian/marketing)-->
          <div class="row">
            <div class="col-lg mb-4">
              <div class="people card-blk-wht h-100 text-center">
                <img class="card-img-top" src="assets/imgs/old-officers/darien-craig.jpg" alt="treasurer darien">
                <div class="card-body">
                  <h4 class="card-title">Darien Craig</h4>
                  <h6 class="card-subtitle mb-2">Treasurer</h6>
                  <p class="card-text">Computer Scientist
                  <br></p>
                </div>
              </div>
            </div>
            <div class="col-lg mb-4">
              <div class="people card-blk-wht h-100 text-center">
                <img class="card-img-top" src="../assets/imgs/placeholder-750x750.jpg" alt="historian chad">
                <div class="card-body">
                  <h4 class="card-title">Chad Pauley</h4>
                  <h6 class="card-subtitle mb-2">Marketing/Historian</h6>
                  <p class="card-text">Computer Engineer
                  <br></p>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row 2 -->
        </div>
        <!-- officers -->
      </div>
      <!-- /.2018-2019-->
      <!-- 2017-2018 -->
      <div class="tab-pane container fade" id="fa2017">
        <!-- officers -->
        <div class="intermediate-container-xs">
          <h2 class="rounded p-1 text-center title-blk-gold">2017 - 2018</h2>

          <!-- row 1 (president) -->
          <div class="row">
            <div class="col-lg mb-3">
              <div class="people card-blk-wht h-100 text-center">
                <div class="card-body">
                  <h4 class="card-title">Nick Peters</h4>
                  <h6 class="card-subtitle mb-2">President</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row 1 -->
          <!-- row 2 (vice president)-->
          <div class="row">
            <div class="col-lg mb-3">
              <div class="people card-blk-wht h-100 text-center">
                <div class="card-body">
                  <h4 class="card-title">Jade Zsiros</h4>
                  <h6 class="card-subtitle mb-2">Vice President</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row 2 -->
          <!-- row 3 (treasurer)-->
          <div class="row">
            <div class="col-lg mb-4">
              <div class="people card-blk-wht h-100 text-center">
                <div class="card-body">
                  <h4 class="card-title">Casey Brennan</h4>
                  <h6 class="card-subtitle mb-2">Treasurer</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row 3 -->
          <!-- row 4 (secretary)-->
          <div class="row">
            <div class="col-lg mb-4">
              <div class="people card-blk-wht h-100 text-center">
                <div class="card-body">
                  <h4 class="card-title">Ori Leidovici</h4>
                  <h6 class="card-subtitle mb-2">Secretary</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row 4 -->
          <!-- row 5 (historian)-->
          <div class="row">
            <div class="col-lg mb-4">
              <div class="people card-blk-wht h-100 text-center">
                <div class="card-body">
                  <h4 class="card-title">Connor Cole</h4>
                  <h6 class="card-subtitle mb-2">Historian</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row 5 -->
          <!-- row 6 (marketing)-->
          <div class="row">
            <div class="col-lg mb-4">
              <div class="people card-blk-wht h-100 text-center">
                <div class="card-body">
                  <h4 class="card-title">Connor Trottman</h4>
                  <h6 class="card-subtitle mb-2">Marketing</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row 6 -->
        </div>
        <!-- officers -->
      </div>
      <!-- /.2017-2018 -->
      <!-- 2016-2017 -->
      <div class="tab-pane container fade" id="fa2016">
        <!-- officers -->
        <div class="intermediate-container-xs">
          <h2 class="rounded p-1 text-center title-blk-gold">2016 - 2017</h2>

          <!-- row 1 (president -->
          <div class="row">
            <div class="col-lg mb-3">
              <div class="people card-blk-wht h-100 text-center">
                <div class="card-body">
                  <h4 class="card-title">Eddie Grekoski</h4>
                  <h6 class="card-subtitle mb-2">President</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row 1 (president) -->
          <!-- row 2 (vice president) -->
          <div class="row">
            <div class="col-lg mb-3">
              <div class="people card-blk-wht h-100 text-center">
                <div class="card-body">
                  <h4 class="card-title">Nick Peters</h4>
                  <h6 class="card-subtitle mb-2">Vice President</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row 2 -->
          <!-- row 3 (treasurer)-->
          <div class="row">
            <div class="col-lg mb-4">
              <div class="people card-blk-wht h-100 text-center">
                <div class="card-body">
                  <h4 class="card-title">Brian</h4>
                  <h6 class="card-subtitle mb-2">Treasurer</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row 3 -->
          <!-- row 4 (secretary) -->
          <div class="row">
            <div class="col-lg mb-4">
              <div class="people card-blk-wht h-100 text-center">
                <div class="card-body">
                  <h4 class="card-title">Unknown<h4>
                  <h6 class="card-subtitle mb-2">Secretary</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row 4 -->
          <!-- row 5 (historian) -->
          <div class="row">
            <div class="col-lg mb-4">
              <div class="people card-blk-wht h-100 text-center">
                <div class="card-body">
                  <h4 class="card-title">Stephen Sumner</h4>
                  <h6 class="card-subtitle mb-2">Historian</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row 5 -->
          <!-- row 6 (marketing) -->
          <div class="row">
            <div class="col-lg mb-4">
              <div class="people card-blk-wht h-100 text-center">
                <div class="card-body">
                  <h4 class="card-title">Jade Zsiros</h4>
                  <h6 class="card-subtitle mb-2">Marketing</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row 6 -->
        </div>
        <!-- officers -->
      </div>
      <!-- /.2016-2017 -->
      <!-- 2015-2017 -->
      <div class="tab-pane container fade" id="fa2015">
        <!-- officers -->
        <div class="intermediate-container-xs">
          <h2 class="rounded p-1 text-center title-blk-gold">2015 - 2016</h2>

          <!-- row 1 (president & vice president) -->
          <div class="row">
            <div class="col-lg mb-3">
              <div class="people card-blk-wht h-100 text-center">
                <div class="card-body">
                  <h4 class="card-title">John Millner</h4>
                  <h6 class="card-subtitle mb-2">President</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row 1 (president & vice president) -->
          <!-- row 2 (vice prsident) -->
          <div class="row">
            <div class="col-lg mb-3">
              <div class="people card-blk-wht h-100 text-center">
                <div class="card-body">
                  <h4 class="card-title">Therese Salas</h4>
                  <h6 class="card-subtitle mb-2">Vice President</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row 2 -->
          <!-- row 3 (treasurer)-->
          <div class="row">
            <div class="col-lg mb-4">
              <div class="people card-blk-wht h-100 text-center">
                <div class="card-body">
                  <h4 class="card-title">Ryker Chute</h4>
                  <h6 class="card-subtitle mb-2">Treasurer</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row 3 -->
          <!-- row 4 (secretary)-->
          <div class="row" style="padding-bottom: 150px;">
            <div class="col-lg mb-4">
              <div class="people card-blk-wht h-100 text-center">
                <div class="card-body">
                  <h4 class="card-title">Eddie Grekoski<h4>
                  <h6 class="card-subtitle mb-2">Secretary</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row 4 -->
        </div>
        <!-- officers -->
      </div>
      <!-- /.2015-2016 -->
    </div>
    <!-- /.tab content -->
  </div>
  <!-- /.page content -->
