

  <!-- Page Content -->
  <div class="container">

    <!-- past members -->
    <div class="header-container-sm">
      <h1 class="mt-4 mb-3 text-center rounded p-1 title-blk-gold">Past Members
      </h1>

      <!-- text content -->
      <div class="row align-items-center justify-content-center text-center">
        <div class="col-lg-12">
          <div class="container-wht-blk rounded p-3">
            <p>The Robotics Club of Cental Florida has been a long running club. This page exists
              to help capture the history of our members. We can date ourselves all the way back to 2016.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.past members -->

    <!-- tabs for year segments -->
    <ul class="nav nav-tabs wht-tabs">
     <li class="nav-item rounded-top">
       <a class="nav-link active" href="past-members">2020s</a>
     </li>
     <li class="nav-item rounded-top">
       <a class="nav-link" href="past-members-2010s">2010s</a>
     </li>
    </ul>
    <!-- /.tabs for year segments -->

    <!-- tabs for each year -->
    <ul class="mini-tabs nav nav-tabs rounded-top">
      <li class="nav-item rounded-top">
        <a class="nav-link active" data-toggle="tab" href="#yr2020">2020</a>
      </li>
    </ul>

    <!-- tab content for each year -->
    <div class="tab-content">
      <!-- 2020 -->
      <div class="tab-pane container active" id="yr2020">
        <!-- tabs for each semester  -->
        <ul class="nav nav-tabs gry-tabs rounded-top">
          <li class="nav-item rounded-top">
            <a class="nav-link active" data-toggle="tab" href="#fa2020">Fall</a>
          </li>
          <li class="nav-item rounded-top">
            <a class="nav-link" data-toggle="tab" href="#sp2020">Spring</a>
          </li>
        </ul>

        <div class="tab-content">
          <!-- fall -->
          <div class="tab-pane container active" id="fa2020">
            <div class="intermediate-container-xs">
              <h2 class="rounded p-1 text-center title-blk-gold">Fall 2020 Members</h2>
              <div class="row align-items-center justify-content-center">
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Alva, Julio</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Angarita, Juan</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Barton, Azeem</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Conrad, Jonathan</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Evans, Valex</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Fletcher, Wesley</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>French, Alexandra</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Fuist, Daniel</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Glaspey, Joshua</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Hassidof, Salomon</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Howard, Dwight, II</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Jacklich, Marian</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Luna, Bryan</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Maldonado, Doeddil</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Mark, Alan</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Monaco, Gustavo "Gus"</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Nolasco, Jennifer</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Pappachen, Jacob</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Park, MinJi</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Quispe, Frederick Junior</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Rodriguez, Sheina</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Siddiqi, Samael</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Simmonds, Marc</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Stroup, Vijay</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Sunderland, Sandybel</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Tapizquent, Jose</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Thirkell, Sage</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Tryzbiak, Gavin</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Turner, Cydni</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Vasquez, Ricardo</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Watkins, Braedon</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Zelenty, Steve</p></div>
              </div>
            </div>
          </div>
          <!-- /.fall -->
          <!-- spring -->
          <div class="tab-pane container" id="sp2020">
            <div class="intermediate-container-xs">
              <h2 class="rounded p-1 text-center title-blk-gold">Spring 2020 Members</h2>
              <div class="row align-items-center justify-content-center">
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Acevedo, Angelica</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Barton, Azeem</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Blalock, Brian</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Burgess, Brett</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Claudio, Matthew</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Conrad, Jonathan</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Coy, Callum</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Craig, Darien</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Davis, Desmon</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Fletcher, Wesley</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>French, Alexandra</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>GarciaTujillo, Camilo</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Hassidof, Salomon</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Howells, Leah</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Kershaw, Stone</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Kildare, Quinlan</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Limon Avila, Eduardo</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Mark, Alan</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Martin, Robert</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Morgan, Alison</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Nguyen, Aland</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Pauley, Chad</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Rodriguez, Sheina</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Ruiz, Michael</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Samaroo, Andre</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Simmonds, Marc</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Suarez, Alexander</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Thompson, Cody</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Thu, Tan</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Wedgener, Anna</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Zsiros, Jade</p></div>
              </div>
            </div>
          </div>
          <!-- /.spring -->
        </div>
        <!-- /.tabs for each semester -->
      </div>
      <!-- /.2020 -->
    </div>
    <!-- /.tab content for each year -->
  </div>
  <!-- /.page content -->
