

  <!-- Page Content -->
  <div class="container">

    <!-- past members -->
    <div class="header-container-sm">
      <h1 class="mt-4 mb-3 text-center rounded p-1 title-blk-gold">Past Members
      </h1>

      <!-- text content -->
      <div class="row align-items-center justify-content-center text-center">
        <div class="col-lg-12">
          <div class="container-wht-blk rounded p-3">
            <p>The Robotics Club of Cental Florida has been a long running club. This page exists
              to help capture the history of our members. We can date ourselves all the way back to 2016.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.past officers -->

    <!-- tabs for year segments -->
    <ul class="nav nav-tabs wht-tabs">
     <li class="nav-item rounded-top">
       <a class="nav-link" href="past-members">2020s</a>
     </li>
     <li class="nav-item rounded-top">
       <a class="nav-link active" href="past-members-2010s">2010s</a>
     </li>
    </ul>
    <!-- /.tabs for year segments -->

    <!-- tabs for each year -->
    <ul class="mini-tabs nav nav-tabs rounded-top">
      <li class="nav-item rounded-top">
        <a class="nav-link active" data-toggle="tab" href="#yr2019">2019</a>
      </li>
      <li class="nav-item rounded-top">
        <a class="nav-link" data-toggle="tab" href="#yr2018">2018</a>
      </li>
      <li class="nav-item rounded-top">
        <a class="nav-link" data-toggle="tab" href="#yr2017">2017</a>
      </li>
      <li class="nav-item rounded-top">
        <a class="nav-link" data-toggle="tab" href="#yr2016">2016</a>
      </li>
    </ul>

    <!-- tab content for each year -->
    <div class="tab-content">
      <!-- 2020 -->
      <div class="tab-pane container active" id="yr2019">
        <!-- tabs for each semester  -->
        <ul class="nav nav-tabs gry-tabs rounded-top">
          <li class="nav-item rounded-top">
            <a class="nav-link active" data-toggle="tab" href="#fa2019">Fall</a>
          </li>
          <li class="nav-item rounded-top">
            <a class="nav-link" data-toggle="tab" href="#sp2019">Spring</a>
          </li>
        </ul>

        <div class="tab-content">
          <!-- fall -->
          <div class="tab-pane container active" id="fa2019">
            <div class="intermediate-container-xs">
              <h2 class="rounded p-1 text-center title-blk-gold">Fall 2019 Members</h2>
              <div class="row align-items-center justify-content-center">
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Aitzhanov, Ailan</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Aljallad, Zaina</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Alvarez, Kenny</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Baker, Eric</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Bautista, Pedro</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Aitzhanov, Ailan</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Brockman, Kyle</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Conzalez, Sergio</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Couch, Justin</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Craig, Darien</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Damis, Alex</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Dawood, Shehryar</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Feagans, Alyssa</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Fletcher, Wesley</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>French, Alexandra</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Hassidoff, Salomon</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Heredia, Lucas</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Howard, Dwight II</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>O'Reilly, Andrew</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Obeso, Andrew</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Pauley, Chad</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Pearson, Carole</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Petrillo, Victor</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Ravelo, Alex</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Rodriguez, Sheina</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Ruiz, Michael</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Simmonds, Marcus</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Singh, Sandhya</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Soriano, Rosa</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Thu, Tan</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Vo, Don</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Wallace, Ian</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Wood, Ashley</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Woodard, Nathaniel</p></div>
              </div>
            </div>
          </div>
          <!-- /.fall -->
          <!-- spring -->
          <div class="tab-pane container" id="sp2019">
            <div class="intermediate-container-xs">
              <h2 class="rounded p-1 text-center title-blk-gold">Spring 2019 Members</h2>
              <div class="row align-items-center justify-content-center">
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Baker, Eric</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Barton, Azeem</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"> <p>Bautista, Pedro</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Bell, Scott</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Blalock, Brian</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Breit, Roger</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Brennan, Casey</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Califano, Nicholas</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Craig, Darien</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Darling, Logan</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Dawood, Shehryar</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Dorsaneo, Peter</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Garcia, Adrian</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Guerra, Carlos</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Issa, Nabil</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Lin, Timothy</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Perez-Aponte, Sergio</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Periman, Everett</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Perman, Richard</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Peters, Nicholas</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Thu, Tan</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Varvak, Mark</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Vo, Don</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Zsiros, Jade</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Houda</p></div>
              </div>
            </div>
          </div>
          <!-- /.spring -->
        </div>
        <!-- tabs for each semester -->
      </div>
      <!-- /.2019 -->
      <!-- 2018 -->
      <div class="tab-pane container" id="yr2018">
        <!-- tabs for each semester  -->
        <ul class="nav nav-tabs gry-tabs rounded-top">
          <li class="nav-item rounded-top">
            <a class="nav-link active" data-toggle="tab" href="#fa2018">Fall</a>
          </li>
          <li class="nav-item rounded-top">
            <a class="nav-link" data-toggle="tab" href="#sp2018">Spring</a>
          </li>
        </ul>

        <div class="tab-content">
          <!-- fall -->
          <div class="tab-pane container active" id="fa2018">
            <div class="intermediate-container-xs">
              <h2 class="rounded p-1 text-center title-blk-gold">Fall 2018 Members</h2>
              <div class="row align-items-center justify-content-center">
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Aguilar, Victor</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Barnes, Taylor</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Bermudez, Elier</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Blalock, Brian</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Brennan, Casey</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Brooks, Mitch</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Cole, Connor</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Cooper, Ty</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Damis, Alex</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Diaz, Angelica</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Fatt, Ryan</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Guzman, Christopher</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Hardman, Daniel</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Harrington, Christopher</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Hevia, Anthony</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Johnson, Craig</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Kelley, Stacy</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Koziel, Jack</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Lin, Timothy</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Mahendru, Adi</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Nelson, Pia</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Olivera, David</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Omusi, Nicholas</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Pauley, Chad</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Peters, Nicholas</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Plummer, Bryan</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Proco, Mason</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Rathod, Ami</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Rice, Jonathan</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Rohrback, Jonathan</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Rosato, Daniel</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Smith, Briyanna</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Solanet, Felipe</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Thu, Tan</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Tirney, Liam</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Trottman, Connor</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Vanzant, Devin</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Varvak, Mark</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Vinokurov, Daniel</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Vo, Don</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Winters, Ryan</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Zsiros, Jade</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Peter</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Vincent</p></div>&nbsp;
              </div>
            </div>
          </div>
          <!-- /.fall -->
          <!-- spring -->
          <div class="tab-pane container" id="sp2018">
            <div class="intermediate-container-xs">
              <h2 class="rounded p-1 text-center title-blk-gold">Spring 2018 Members</h2>
              <div class="row align-items-center justify-content-center">
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Boord, Jonathan</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Califan, Nick</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Centracchio, Kevin</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Chong, Lexie</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Cochran, Kevin</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Cole, Connor</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Craig, Darien</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>DeVito, Dominic</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Fatt, Ryan</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Fletcher, Wesley</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Grekoski, ddie</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Killough, Klayton</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Kleiner, Sam</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Kurtz, Matthew</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Leibovici, Ori</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Leiva, Eric</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Mateo, Alexander</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Mendez, Frank</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Nipper, Matthew</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Peters, Nick</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Qu, Mike</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Quiliche, Moses</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Richards, Joshua</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Rodriguez, Sheina</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Rojas, Juan</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Schroeder, Andrew</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Silva, Brandon</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Sumner, Stephen</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Trottman, Connor</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Varvak, Mark</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Vogt, Robert</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Zsiros, Jade</p></div>&nbsp;
                <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Brandon</p></div>
              </div>
            </div>
          </div>
          <!-- /.spring -->
        </div>
        <!-- tabs for each semester -->
      </div>
      <!-- /.2018 -->
      <!-- 2017 -->
      <div class="tab-pane container" id="yr2017">
        <!-- tabs for each semester  -->
          <div class="intermediate-container-xs p-3">
            <h2 class="rounded p-1 text-center title-blk-gold">2017 Members</h2>
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Almeida, Kevin</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Chute, Ryker</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Clytus, James</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Cochram, Kevin</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>DaSilva, Nicola</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Dudukovich, Christian</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Escobedo, Juan</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Espriella, Eric</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Eugene, Greg</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Fatt, Ryan</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Geiger, John</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Gekoski, Edward</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Gomez, Harley</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Hunt, Mattew</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Johnson, John</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Johnson, Daniel</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Kantrowitz, Erik</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Killough, Klyaton</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Kurtz, Matthew</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Lahore, Brian</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Langston, Drew</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Leibovici, Ori</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Mak, Tony</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Millner, John</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Murphey, Connorc</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Odette, Katy</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>P, Richard</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Peters, Nick</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Preciado, Daniel</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Qu, Shuoran</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Salas, Teresa</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Sauers, Kenneth</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Sumner, Stephen</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Swain, Pratick</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Tramel, Kassandra "Chase"</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Zsiros, Jade</p></div>
            </div>
          </div>
        <!-- tabs for each semester -->
      </div>
      <!-- /.2017 -->
      <!-- 2016 -->
      <div class="tab-pane container" id="yr2016">
        <!-- tabs for each semester  -->
          <div class="intermediate-container-xs p-3">
            <h2 class="rounded p-1 text-center title-blk-gold">2016 Members</h2>
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Almeida, Kevin</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Arnold, Terran</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Assou, Soukaina</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Boutelle, Matthew</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>ChinLim, Kai</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Chute, Ryker</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>DaSilva, Nicola</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>DeBerardine, Dylan</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Diaz, Haniel</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Drucker, Sam</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Duenas, Nathan</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Ellis, Ryan</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Elmazry, Baian</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Erwin, Christine</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Fried, Eli</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Gambrell, Jonathan</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Geiger, John</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Grekoski, Edward</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Grenci, Christopher</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Hudson, Stephen</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Hunt, Matthew</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Kantrowitz, Erik</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Langston, Drew</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Larson, Reid</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Lopez, Nicolas</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Machado, Andres</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Maja, Crystal</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Mapes, Jonah</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Millner, John</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Nakonechnay, Olesya</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>O'Dea, Ryan</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Odeh, Mohammad</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Perdomo, Richard</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Peters, Nicholas</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Richardson, Kenneth</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Rohe, Katherine</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Salas, Therese</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Sheeley, Stephen</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Simmons, Timothy</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Stein, Josh</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Stuart, Bejamin</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Vamos, Clarisse</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold"><p>Wales, Richard</p></div>&nbsp;
              <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht"><p>Reuben</p></div>
          </div>
        <!-- /.tabs for each semester -->
        </div>
      </div>
      <!-- /.2016 -->
    </div>
    <!-- /.tab content for each year -->
  </div>
  <!-- /.page content -->
