  <!-- Page Content -->
  <div class="container">
    <!-- lost carousel -->
    <h2 class="text-center p-2 rounded title-blk-wht">Lost?</h2>
    <!-- lost slideshow -->
    <div id="side-nav-carousel" class="carousel slide" data-rise="carousel" data-interval="false" role="complementary" aria-labelledby="lost-title" aria-describedby="lost-description">
      <!-- screenreader only controls -->
      <h2 id="lost-title" class="sr-only">Carousel content with 5 slides on how to get to the lab.</h2>
      <p id="lost-description" class="sr-only"> This carousel rotates between how to get to the lab. There is a map, description, and paths.
      </p>
      <!-- /.screenreader -->

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="tablist">
        <!-- slide 1-->
        <div class="carousel-item active" role="tabpanel" id="lost-tabpanel-0" aria-labelledby="lost-tab-0">
          <img class="img-fluid" src="assets/imgs/contact/map.jpg" alt="map of lab's location">
           <div class="carousel-caption" alt="map">
            <p>Map of the Lab's location</p>
          </div>
        </div>
        <!-- slide 1-->
         <div class="carousel-item" role="tabpanel" id="lost-tabpanel-1" aria-labelledby="lost-tab-1">
          <img class="img-fluid" src="../assets/imgs/placeholder-760x370.png" alt="entrance to the compkex">
           <div class="carousel-caption">
            <p>Entrance to the Complex</p>
          </div>
        </div>
        <!-- slide 2-->
        <div class="carousel-item" role="tabpanel" id="lost-tabpanel-2" aria-labelledby="lost-tab-2">
          <img class="img-fluid" src="../assets/imgs/placeholder-760x370.png" alt="winding path to the lab">
           <div class="carousel-caption">
            <p>Path to lab</p>
          </div>
        </div>
        <!-- slide 3-->
        <div class="carousel-item" role="tabpanel" id="lost-tabpanel-3" aria-labelledby="lost-tab-3">
          <img class="img-fluid" src="../assets/imgs/placeholder-760x370.png" alt="building 2 on the left">
           <div class="carousel-caption">
            <p>Turn Left Towards Building 2</p>
          </div>
        </div>
        <!-- slide 4-->
        <div class="carousel-item" role="tabpanel" id="lost-tabpanel-4" aria-labelledby="lost-tab-4">
          <img class="img-fluid" src="../assets/imgs/placeholder-760x370.png" alt="door to the lab room">
           <div class="carousel-caption">
            <p>Lab Room</p>
          </div>
        </div>
        <!-- /.slides -->
        <!-- controls -->
        <a class="carousel-control-prev d-lg-none" href="#side-nav-carousel" role="button" data-slide="prev" aria-label="show last slide">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next d-lg-none" href="#side-nav-carousel" role="button" data-slide="next" aria-label="show next slide">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <!-- /.controls -->
      </div>
      <!-- /.wrapper for slides -->

      <!-- slideshow directions -->
      <ul class="list-group col-sm-4">
        <li data-target="#side-nav-carousel" data-slide-to="0" class="list-group-item active" role="tab" id="lost-tab-0" aria-controls="lost-tabpanel-0"><h3>Map of the Lab's location</h3>
          <p class="sr-only">Slide 1 of 5: A map of the labs location, starting from the parkinglot and heading towards the building.</p>
        </li>
        <li data-target="#side-nav-carousel" data-slide-to="1" class="list-group-item" role="tab" id="lost-tab-1" aria-controls="lost-tabpanel-1"><h3>Entrance to complex</h3>
          <p class="sr-only">Slide 2 of 5: Entering through center of the parking lot, there is an oepn gate near a planter and a light pole. Enter through here.</p>
        </li>
        <li data-target="#side-nav-carousel" data-slide-to="2" class="list-group-item" role="tab" id="lost-tab-2" aria-controls="lost-tabpanel-2"><h3>Path to lab</h3>
          <p class="sr-only">Slide 3 of 5: There is a winding path. Following the main forward and wide path, ignore the first two forks. The third will be a large fork between two building with a canopy and canopy poles.</p>
        </li>
        <li data-target="#side-nav-carousel" data-slide-to="3" class="list-group-item" role="tab" id="lost-tab-3" aria-controls="lost-tabpanel-3"><h3>Turn Left To Building 2</h3>
          <p class="sr-only">Slide 4 of 5: At the canopy fork, turn left and soon there will be a widened path to the left of the canopy path. This is where Partnership 2 is.</p>
        </li>
        <li data-target="#side-nav-carousel" data-slide-to="4" class="list-group-item" role="tab" id="lost-tab-4" aria-controls="lost-tabpanel-4"><h3>Lab Room 108</h3>
          <p class="sr-only">Slide 5 of 5: The first door in the building near the corner is ours. It is immediately right of a garage door and directly on the corner.</p>
        </li>
      </ul>
      <!-- /.slideshow directions -->
    </div>
    <!-- /.slideshow -->

  </div>
  <!-- /.container -->
