

  <!-- Page Content -->
  <div class="container">

    <!-- header and projects -->
    <div class="header-container-sm text-center">
      <!-- photos header -->
      <h1 class="mt-4 mb-3 text-center rounded p-1 title-blk-gold">Photos</h1>
      
      <!-- projects -->
      <h2 class="title-blk-wht rounded p-2">See Pictures of Our Projects</h2>
      <div class="row p-4 justify-content-between justify-content-center align-items-center">
        <!-- bowser -->
        <div class="col-md-4">
          <div class="gif-container rounded-pill w-100">
            <img class="img-fluid rounded rounded-pill w-100" src="assets/imgs/bowser-checkout.jpg" alt="bowser">
            <div class="gif-text"><a href="../projects/bowser/gallery"><h3>Bowser Gallery</a></h3></div>
          </div>
        </div>
        <!-- /.bowser -->
        <!-- citrobot -->
        <div class="col-md-4">
          <div class="gif-container rounded-pill w-100">
            <img class="img-fluid rounded rounded-pill w-100" src="assets/imgs/citrobot-2.jpg" alt="citrobot">
            <div class="gif-text"><a href="../projects/citrobot/gallery"><h3>Citrobot Gallery</a></h3></div>
          </div>
        </div>
        <!-- /.citrobot -->
        <!-- demobot -->
        <div class="col-md-4">
          <div class="gif-container rounded-pill w-100">
            <img class="img-fluid rounded rounded-pill w-100" src="assets/imgs/dual-demobot.jpg" alt="demobot">
            <div class="gif-text"><a href="../projects/demobot/gallery"><h3>Demobot Gallery</a></h3></div>
          </div>
        </div>
        <!-- /.demobot -->
      </div>
      <!-- projects -->
    </div>
    <!-- /.header and projects -->


    <!-- socials and workshops -->
    <div class="end-container-xs text-center">
      <h2 class="title-blk-gold rounded p-2">View Our Socials and Workshops</h2>

      <!-- tabs for year -->
      <ul class="nav nav-tabs wht-tabs justify-content-center">
       <li class="nav-item rounded-top">
         <a class="nav-link" href="gallery">2020</a>
       </li>
       <li class="nav-item rounded-top">
         <a class="nav-link active" href="gallery-2019">2019</a>
       </li>
      </ul>
      <!-- tabs for photo pages -->

      <!-- tab content for photo types -->
      <div class="tab-content clear">
        <!-- Thanksgiving social -->
        <div class="intermediate-container-xs">
          <div class="container-blk-wht m-5 justify-content-center align-items-center text-center">
            <div class="row">
              <div class="col-md-12 container-lght-gry rounded-top p-2"><h3>Thanksgiving Social</h3></div>
            </div>
            <div class="row">
              <div class="col-md-7">
                <div class="row h-50">
                  <div class="col-md-6 container-gray-gold w-50 p-0">
                    <div class="slide-container"><div class="slide-child slide-down"><img class="img-fluid" src="assets/imgs/2019/thanksgiving-1.jpg" alt="marc shrugging with food"></img></div></div>
                  </div>
                  <div class="col-md-6 container-blk-wht w-50 p-0">
                    <div class="slide-container"><div class="slide-child slide-right"><img class="img-fluid" src="assets/imgs/2019/thanksgiving-2.jpg" alt="wesley eating thanksgiving food"></img></div></div>
                  </div>
                </div>
                <div class="row h-50">
                  <div class="col-md-12 container-lght-gry p-0">
                    <div class="slide-container"><div class="slide-child slide-right"><img class="img-fluid" src="assets/imgs/2019/thanksgiving-4.jpg" alt="group lining up for thanksgiving food"></img></div></div>
                  </div>
                </div>
              </div>
              <div class="col-md-5 container-blk-wht d-flex justify-content-center align-items-center p-4">
                <div class="slide-container"><div class="slide-child slide-left">
                  Thanksgiving season? Time for a potluck! On the week of Thanksgiving 2019, we
                  had a club wide potluck. Cookies, meat, candies, and chips!
                </div></div>
              </div>
            </div>
            <div class="row">
               <div class="col-md-12 container-gray-gold rounded-bottom p-0">
                 <div class="slide-container"><div class="slide-child"><img class="img-fluid" src="assets/imgs/2019/thanksgiving-3.jpg" alt="array of food for thanksgiving"></img></div></div>
               </div>
            </div>
          </div>
        </div>
        <!-- /.Thanksgiving social -->
        <!-- Halloween social -->
        <div class="intermediate-container-xs">
          <div class="container-blk-wht m-5 justify-content-center align-items-center text-center">
            <div class="row">
              <div class="col-md-12 container-lght-gry title-gold rounded-top p-2"><h3>Halloween Social</h3></div>
            </div>
            <div class="row">
              <div class="col-md-6 container-lght-gry rounded-top p-0">
                <div class="slide-container"><div class="slide-child slide-right"><img class="img-fluid" src="assets/imgs/2019/halloween-1.jpg" alt="group playing smash"></img></div></div>
              </div>
              <div class="col-md-6 container-lght-gry rounded-top p-0">
                <div class="slide-container"><div class="slide-child slide-left"><img class="img-fluid" src="assets/imgs/2019/halloween-2.jpg" alt="group cheering for smash in halloween costumes"></img></div></div>
              </div>
            </div>
            <div class="row no-gutters">
              <div class="col-md-3 container-blk-gold p-0">
                <div class="slide-container"><div class="slide-child"><img class="img-fluid" src="assets/imgs/2019/halloween-3.jpg" alt="bob ross halloween costume"></img></div></div>
              </div>
              <div class="col-md-6 container-blk-wht d-flex justify-content-center align-items-center p-4">
                <div class="slide-container"><div class="slide-child">We met up just before Halloween in 2019 to show off our costumes.
                  In the mean time, we played some Smash and Mario Kart and ate plenty of candy and pizza!
                </div></div>
              </div>
              <div class="col-md-3 container-blk-gold p-0">
                <div class="slide-container"><div class="slide-child"><img class="img-fluid" src="assets/imgs/2019/halloween-4.jpg" alt="club members in halloween costumes"></img></div></div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.Halloween social -->
      </div>
      <!-- /.tab content for photo types -->
    </div>
    <!-- /.social and workshop photos -->
  </div>
  <!-- /.page content -->
