

  <!-- Page Content -->
  <div class="container">

    <!-- header and projects -->
    <div class="header-container-sm text-center">
      <!-- photos header -->
      <h1 class="mt-4 mb-3 text-center rounded p-1 title-blk-gold">Photos</h1>
      <!-- projects -->
      <h2 class="title-blk-wht rounded p-2">See Pictures of Our Projects</h2>
      <div class="row p-4 justify-content-between justify-content-center align-items-center">
        <!-- bowser -->
        <div class="col-md-4">
          <div class="gif-container rounded-pill w-100">
            <img class="img-fluid rounded rounded-pill w-100" src="assets/imgs/bowser-checkout.jpg" alt="bowser">
            <div class="gif-text"><a href="../projects/bowser/gallery"><h3>Bowser Gallery</a></h3></div>
          </div>
        </div>
        <!-- /.bowser -->
        <!-- citrobot -->
        <div class="col-md-4">
          <div class="gif-container rounded-pill w-100">
            <img class="img-fluid rounded rounded-pill w-100" src="assets/imgs/citrobot-2.jpg" alt="citrobot">
            <div class="gif-text"><a href="../projects/citrobot/gallery"><h3>Citrobot Gallery</a></h3></div>
          </div>
        </div>
        <!-- /.citrobot -->
        <!-- demobot -->
        <div class="col-md-4">
          <div class="gif-container rounded-pill w-100">
            <img class="img-fluid rounded rounded-pill w-100" src="assets/imgs/dual-demobot.jpg" alt="demobot">
            <div class="gif-text"><a href="../projects/demobot/gallery"><h3>Demobot Gallery</a></h3></div>
          </div>
        </div>
        <!-- /.demobot -->
      </div>
      <!-- projects -->
    </div>
    <!-- /.header and projects -->


    <!-- socials and workshops -->
    <div class="end-container-xs text-center">
      <h2 class="title-blk-gold rounded p-2">View Our Socials and Workshops</h2>

      <!-- tabs for year -->
      <ul class="nav nav-tabs wht-tabs justify-content-center">
       <li class="nav-item rounded-top">
         <a class="nav-link active" href="gallery">2020</a>
       </li>
       <li class="nav-item rounded-top">
         <a class="nav-link" href="gallery-2019">2019</a>
       </li>
      </ul>
      <!-- tabs for photo pages -->

      <!-- tabs for photo types -->
      <ul class="mini-tabs nav nav-tabs rounded-top justify-content-center">
        <li class="nav-item rounded-top">
          <a class="nav-link active" data-toggle="tab" href="#workshops">Workshops</a>
        </li>
        <li class="nav-item rounded-top">
          <a class="nav-link" data-toggle="tab" href="#socials">Socials</a>
        </li>
      </ul>
      <!-- /.tabs for photo types -->

      <!-- tab content for photo types -->
      <div class="tab-content clear">
        <!-- workshops  -->
        <div class="tab-pane container active" id="workshops">
          <!-- python workshop -->
          <div class="intermediate-container-xs">
            <div class="container-blk-wht m-5 justify-content-center align-items-center text-center">
              <div class="row">
                <div class="col-md-12 container-lght-gry title-gold rounded-top p-2"><h3>Spring Python Workshop</h3></div>
              </div>
              <div class="row">
                <div class="col-md-6 container-blk-wht  d-flex justify-content-center align-items-center p-2">
                  <div class="slide-container"><div class="slide-child slide-right"> We held a session for Python in the Spring. It was
                    led by our Webmaster, Alexandra, and introduced the members to Python and object oriented programming.
                  </div></div>
                </div>
                <div class="col-md-6 container-gray-gold w-50 p-0">
                  <div class="slide-container"><div class="slide-child slide-left"><img class="img-fluid" src="assets/imgs/2020/workshops/spring-python.jpg" alt="hangman gameplay"></img></div></div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.python workshop -->
          <!-- TI workshop -->
          <div class="intermediate-container-xs">
            <div class="container-blk-wht m-5 justify-content-center align-items-center text-center">
              <div class="row">
                <div class="col-md-12 container-lght-gry rounded-top p-2"><h3>Texas Instruments Workshop</h3></div>
              </div>
              <div class="row">
                <div class="col-md-7">
                  <div class="row h-50">
                    <div class="col-md-6 container-gray-gold w-50 p-0">
                      <div class="slide-container"><div class="slide-child slide-right"><img class="img-fluid" src="assets/imgs/2020/workshops/sp-ti-1.jpg" alt="club working on TI-RSLK MAX"></img></div></div>
                    </div>
                    <div class="col-md-6 container-blk-wht w-50 p-0">
                      <div class="slide-container"><div class="slide-child slide-down"><img class="img-fluid" src="../sponsors/assets/imgs/ti.jpg" alt="Texas Instruments logo"></img></div></div>
                    </div>
                  </div>
                  <div class="row h-50">
                    <div class="col-md-12 container-lght-gry p-0">
                      <div class="slide-container"><div class="slide-child slide-right"><img class="img-fluid" src="assets/imgs/2020/workshops/sp-ti-2.jpg" alt="group working on TI-RSLK MAX"></div></div>
                      </div>
                  </div>
                </div>
                <div class="col-md-5 container-blk-wht d-flex justify-content-center align-items-center p-4">
                  <div class="slide-container"><div class="slide-child slide-left">Texas Instruments came to the Robotics Club in January of 2020.
                    Mark Easley from TI brought three TI-RSLK MAX robot kits and led the charge in showing us how to hook them up and get going!
                  </div></div>
                </div>
              </div>
              <div class="row">
                 <div class="col-md-12 container-gray-gold rounded-bottom p-0">
                   <div class="slide-container"><div class="slide-child"><img class="img-fluid" src="assets/imgs/2020/workshops/sp-ti-3.jpg" alt="texas instruments group photo with Mark Easley"></div></div>
                 </div>
              </div>
            </div>
          </div>
          <!-- /.TI workshop -->
        </div>
        <!-- /.workshops -->
        <!-- socials  -->
        <div class="tab-pane container" id="socials">
          <!-- minecraft summer social -->
          <div class="intermediate-container-xs">
            <div class="container-blk-wht m-5 justify-content-center align-items-center text-center">
              <div class="row">
                <div class="col-md-12 container-lght-gry title-gold rounded-top p-2"><h3>Summer Minecraft Social</h3></div>
              </div>
              <div class="row">
                <div class="col-md-4 container-blk-wht  d-flex justify-content-center align-items-center p-2">
                  <div class="slide-container"><div class="slide-child slide-right">This summer we had a minecraft social! It involved everyone hopping onto the
                  server of our Lab Manager, Dwight, and trying to build something unique.</div></div>
                </div>
                <div class="col-md-6">
                  <div class="row h-50">
                    <div class="col-md-6 container-gray-gold w-50 p-0">
                      <div class="slide-container"><div class="slide-child slide-down"><img class="img-fluid" loading="lazy" src="assets/imgs/2020/socials/summer-minecraft-1.jpg" alt="minecraft cobblestone hut"></img></div></div>
                    </div>
                    <div class="col-md-6 container-blk-wht w-50 p-0">
                      <div class="slide-container"><div class="slide-child slide-down"><img class="img-fluid" loading="lazy" src="assets/imgs/2020/socials/summer-minecraft-3.jpg" alt="minecraft factory"></img></div></div>
                    </div>
                  </div>
                  <div class="row h-50">
                    <div class="col-md-12 container-lght-gry p-0">
                      <div class="slide-container"><div class="slide-child"><img class="img-fluid" loading="lazy" src="assets/imgs/2020/socials/summer-minecraft-5.jpg" alt="minecraft nether portal"></img></div></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 container-wht-blk p-0">
                  <div class="slide-container"><div class="slide-child slide-left"><img class="img-fluid" loading="lazy" src="assets/imgs/2020/socials/summer-minecraft-2.jpg" alt="minecraft tall house"></img></div></div>
                </div>
              </div>
              <div class="row">
                 <div class="col-md-12 container-gray-gold rounded-bottom p-0">
                   <div class="slide-container"><div class="slide-child"><img class="img-fluid" loading="lazy" src="assets/imgs/2020/socials/summer-minecraft-4.jpg" alt="minecraft village"></div></div>
                 </div>
              </div>
            </div>
          </div>
          <!-- /.minecraft summer social -->
        </div>
        <!-- /.socials -->
      </div>
      <!-- /.tab content for photo types -->
    </div>
    <!-- /.social and workshop photos -->
  </div>
  <!-- /.page content -->
