

  <!-- page header -->
  <header>
    <!-- slideshow -->
    <div id="bowser-carousel">
      <div id="carouselIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
        <ol class="carousel-indicators">
          <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselIndicators" data-slide-to="1"></li>
          <li data-target="#carouselIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One -->
          <div class="carousel-item active" style="background-image: url('assets/imgs/bowser-slide.jpg')" alt="Bowser">
            <div class="carousel-caption d-none d-md-block">
              <h1>Bowser</h1>
            </div>
          </div>
          <!-- Slide Two -->
          <div class="carousel-item" style="background-image: url('assets/imgs/computer-slide.jpg')" alt="Computer">
            <div class="carousel-caption d-none d-md-block">
              <h2>Computer Vision</h2>
            </div>
          </div>
          <!-- Slide Three -->
          <div class="carousel-item" style="background-image: url('assets/imgs/electrical-slide.jpg')" alt="Electrical Components">
            <div class="carousel-caption d-none d-md-block">
              <h2>Electrical Overhaul</h2>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <!-- /.slideshow -->
  </header>
  <!-- ./page header -->


  <!-- Page Content -->
  <div class="container">

    <!-- vision -->
    <div class="header-container-med">
      <h2 class="p-2 text-center rounded title-blk-wht">Our Vision</h2>
      <div class="row">
        <!-- goals -->
        <div class="col-lg-6 text-center rounded">
          <h3 class="p-2 text-center rounded title-gry-gold">Goals</h3>
          <div class="container-wht-blk rounded p-3 h-100">
            <br>
            <p>• Achieve terrain mapping.</p>
            <p>• Detect and avoid objects.</p>
            <p>• Accurately simulate movement through course.</p>
            <p>• Overhaul the electrical workup to get ~5mph speed.</p>
          </div>
        </div>
        <!-- competition -->
        <div class="col-lg-6 text-center rounded">
          <h3 class="p-2 text-center rounded title-gry-gold">Competition</h3>
          <div class="container-wht-blk rounded p-3 h-100">
            <br>
            <p>We are aiming to compete in IGVC 2021.</p>
            <p class="text-center"><br><br>Have a local competition?<br>
            <a href="https://discord.gg/ypWpanw">Let us know!</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.vision -->

    <!-- team -->
    <div class="intermediate-container-med">
      <h2 class="p-2 text-center rounded title-blk-wht">The Team</h2>
      <div class="row no-gutters">

        <!-- team image -->
        <div class="col-md-7 rounded container-blk-wht d-flex justify-content-center align-items-center">
          <img class="img-fluid" src="assets/imgs/team-bowser.jpg" alt="Team Bowser">
        </div>

        <!-- about text -->
        <div class="col-md-5 rounded container-gray-gold p-2">
          <h3 class="my-3 title-gold">About Bowser</h3>
          <p> Bowser is the newest member of our autonomous robots. We have focused on an
              at least one autonomous robot for the past 5 years. This year, Bowser will
              focus on quickly and effectively completing obstacle courses full of
              obstructions.
          </p>

          <br>

          <h3 class="my-3 title-gold">View Our <a href="https://github.com/RoboticsClubatUCF/Bowser">Open Source Code</a></h3>
          <ul>
            <li>Computer Vision</li>
            <li>Object Detection</li>
            <li>Simulations</li>
          </ul>

          <h3 class="my-3 title-gold">View <a href="gallery" aria-label="view bowser's photo gallery">Bowser's Photo Gallery</a></h3>
        </div>
      </div>
    </div>
    <!-- /.team -->


    <!-- Team Leads -->
    <div class="intermediate-container-med">
      <h2 class="my-4 p-2 text-center rounded title-blk-gold">Team Leads</h2>

      <div class="row align-items-center justify-content-center">
        <!-- software -->
        <div class="col-md-4 col-sm-6 mb-4">
          <img class="img-fluid" src="assets/imgs/software-lead-wesley.jpg" alt="software lead wesley">
          <h3 class="text-center">Wesley Fletcher</h3>
          <p class="text-center title-drk-gold">Software Team Lead</p>
        </div>
        <!-- software -->
        <div class="col-md-4 col-sm-6 mb-4">
          <img class="img-fluid" src="assets/imgs/software-lead-french.jpg" alt="software lead alex">
          <h3 class="text-center">Alexandra French</h3>
          <p class="text-center title-drk-gold">Software Team Lead</p>
        </div>
      </div>
    </div>
    <!-- /.team leads -->
