

  <!-- Page Content -->
  <div class="container">

    <!-- citrobot header images, goals, competition -->
    <div class="header-container-med">
      <!-- title -->
      <h1 class="mt-4 mb-3 text-center rounded p-1 title-blk-gold">Citrobot</h1>

      <!-- Image Headers -->
      <div class="row">
        <div class="col-lg-6">
          <img class="img-fluid rounded mb-4" src="assets/imgs/citrobot-1.jpg" alt="citrobot front">
        </div>
        <div class="col-lg-6">
          <img class="img-fluid rounded mb-4" src="assets/imgs/citrobot-2.jpg" alt="citrobot side">
        </div>
      </div>

      <div class="row">
        <!-- goals -->
        <div class="col-lg-6 text-center">
          <h3 class="rounded p-2 title-blk-wht">Project Goals</h3>
          <div class="container-wht-blk rounded p-3 h-100">
            <p>• Design CAD workups of robot.</p>
            <p>• Achieve and assemble a total weight of 15lb.</p>
            <p>• Compete in local competitions.</p>
          </div>
        </div>
        <!-- competition -->
        <div class="col-lg-6">
          <h3 class="text-center rounded p-2 title-blk-wht">The Competition</h3>
          <div class="container-wht-blk rounded p-3 h-100">
            <p class="text-center">To Be Determined</p>
            <p class="text-center"><br>Have a local competition?<br>
            <a href="https://discord.gg/ypWpanw">Let us know!</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.citrobot header -->

    <!-- project details-->
    <div class="intermediate-container-med">
      <h2  class="text-center rounded p-2 title-blk-gold">Project Details</h2>
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-12 text-center">
          <div class="container-wht-blk rounded p-3">
            <p>
              Citrobot is our 15lb combat robot.
            </p>
            <p>
              The build currently involves heavy mechanical work to get the bot up and running.
            </p>
            <p>
              We will be bringing citrobot to 15lb competitions so long as it survives once finished.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.project details -->

    <!-- team -->
    <div class="intermediate-container-med">
      <div class="row">
        <!-- team image -->
        <div class="col-md-7 rounded container-blk-wht d-flex justify-content-center align-items-center">
          <img class="img-fluid" src="assets/imgs/citrobot-group-photo.jpg" alt="team citrobot">
        </div>

        <!-- team text -->
        <div class="col-md-5 rounded container-gray-gold">
          <h3 class="my-3 title-gold">The Team</h3>
          <p>Citrobot is a chance for our mechanical and electrical engineers to explore their limits.</p>
          <p>Our team is comprised of both new and old club members working together to achieve a 15lb
            monster that can best the competition.
          </p>
          <h3 class="my-3 title-gold">View <a href="gallery" aria-label="view citrobot's photo gallery">Citrobot's Photo Gallery</a></h3>
          <br>
          <br>
        </div>
      </div>

    </div>
    <!-- /.team -->


    <!-- Team Leads -->
    <div class="intermediate-container-med">
      <h3 class="my-4 p-2 text-center rounded title-blk-wht">Team Leads</h3>

      <div class="row align-items-center justify-content-center">
        <!-- software -->
        <div class="col-md-4 col-sm-6 mb-4">
          <img class="img-fluid rounded" src="assets/imgs/software-lead.jpg" alt="software lead">
          <h5 class="text-center">Robert Martin</h4>
          <p class="text-center title-drk-gold">Software Team Lead</p>
        </div>
        <!-- mechanical -->
        <div class="col-md-4 col-sm-6 mb-4">
          <img class="img-fluid rounded" src="../../assets/imgs/placeholder-500x300.png" alt="mechanical lead">
          <h5 class="text-center">TBD</h4>
          <p class="text-center title-drk-gold">Mechanical Team Lead</p>
        </div>
        <!-- electrical -->
        <div class="col-md-4 col-sm-6 mb-4">
          <img class="img-fluid rounded" src="../../assets/imgs/placeholder-500x300.png" alt="electrical lead">
          <h5 class="text-center">TBD</h4>
          <p class="text-center title-drk-gold">Electrical Team Lead</p>
        </div>

      </div>
    </div>
    <!-- /.Team Leads -->

    <!-- Team members-->
    <h3 class="my-4 p-2 text-center rounded title-blk-gold">Team Members</h3>
    <p></p>
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold">
        <p>Salomon Hassidoff</p>
      </div>&nbsp;
      <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht">
        <p>Alan Mark</p>
      </div>&nbsp;
      <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold">
        <p>Jade Zsiros</p>
      </div>&nbsp;
      <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-wht">
        <p>Michelle Gore</p>
      </div>&nbsp;
      <div class="col-lg-3 col-sm-4 mb-4 text-center rounded members-gold">
        <p>Robert Martin</p>
      </div>
    </div>
    <!-- team members -->

  </div>
  <!-- /.container -->
