

  <!-- Page Content -->
  <div class="container">

    <!-- thansk to our sponsors -->
    <div class="header-container-sm">
      <!-- title -->
      <h1 class="mt-4 mb-3 text-center rounded p-2 title-blk-gold">Thanks to Our Sponsors!
      </h1>
      <!-- body text -->
      <div class=row>
        <div class="col-lg-12 mb-12 text-center">
          <div class="container-wht-blk rounded p-3">
            <h5>Thanks to all of our sponsors, we have been able to complete multiple robotics projects
              over the years, only getting better each time.
              Here you can meet each company who has helped the Robotics Club of Central Florida advance
              to where we are today.</h5>
          </div>
        </div>
      </div>
    </div>
    <!-- /.thanks -->

    <!-- Sponsors first row -->
    <div class="row">
      <!-- sponsor 1 -->
      <div class="col-lg-4 mb-4">
        <div class="slide-container"><div class="slide-child">
          <div class="sponsors card-blk-wht h-100">
            <h4 class="card-header">Institute for Simulation and Training</h4>
            <img class="card-img-top" src="assets/imgs/ist.jpg" alt="IST">
            <div class="card-body">
              <h6 class="card-subtitle mb-2">The Institute for Simulation and Training provides an excellent
                lab space in partnership 2 and other support significant support. They are internationally
                recognized.
              </h6>
            </div>
            <div class="card-footer">
              <a href="http://www.ist.ucf.edu/" class="btn btn-light">Visit IST</a>
            </div>
          </div>
        </div></div>
      </div>
      <!-- /.sponsor 1 -->
      <!-- sponsor 2 -->
      <div class="col-lg-4 mb-4">
        <div class="slide-container"><div class="slide-child">
          <div class="sponsors card-blk-wht h-100">
            <h4 class="card-header">United States Army Research Laboratory</h4>
            <img class="card-img-top" src="assets/imgs/arl.jpg" alt="ARL">
            <div class="card-body">
              <h6 class="card-subtitle mb-2">The United States Army Research Laboratory has provided
                an extremely generous level of funding that has allowed us to purchase many of the critical
                components for our robots.
              </h6>
            </div>
            <div class="card-footer">
              <a href="https://www.arl.army.mil/" class="btn btn-light">Visit ARL</a>
            </div>
          </div>
        </div></div>
      </div>
      <!-- /.sponsor 2 -->
      <!-- sponsor 3 -->
      <div class="col-lg-4 mb-4">
        <div class="slide-container"><div class="slide-child">
          <div class="sponsors card-blk-wht h-100">
            <h4 class="card-header">Texas <br>Instruments<br></h4>
            <img class="card-img-top" src="assets/imgs/ti.jpg" alt="texas instruments">
            <div class="card-body">
              <h6 class="card-subtitle mb-2">Texas Instruments has generously provided up with
                multple components, workshops, and bots to practice on. They focus on global semiconductor
                design and integrated circuits.
              </h6>
            </div>
            <div class="card-footer">
              <a href="https://www.ti.com/" class="btn btn-light">Visit TI</a>
            </div>
          </div>
        </div></div>
      </div>
      <!-- /.sponsor 3 -->
    </div>
    <!-- /.sponsors row 1 -->

    <!-- sponsors second row -->
    <div class="row">
      <!-- sponsor 1 -->
      <div class="col-lg-4 mb-4">
        <div class="slide-container"><div class="slide-child">
          <div class="sponsors card-blk-wht h-100">
            <h4 class="card-header">SolidCAM</h4>
            <img class="card-img-top" src="assets/imgs/solidcam.jpg" alt="solidCAM">
            <div class="card-body">
              <h6 class="card-subtitle mb-2">SolidCAM generously provided an integrated
                Computer Aided Machining package for SolidWorks to help machine the parts we design in SolidWorks.
              </h6>
            </div>
            <div class="card-footer">
              <a href="https://www.solidcam.com/" class="btn btn-light">Visit SolidCAM</a>
            </div>
          </div>
        </div></div>
      </div>
      <!-- /.sponsor 1 -->
      <!-- sponsor 2 -->
      <div class="col-lg-4 mb-4">
        <div class="slide-container"><div class="slide-child">
          <div class="sponsors card-blk-wht h-100">
            <h4 class="card-header">Digi-Key</h4>
            <img class="card-img-top" src="assets/imgs/digi-key.jpg" alt="digi-key">
            <div class="card-body">
              <h6 class="card-subtitle mb-2">Digi-Key has granted us discounts on critical electronics for our custom
                PCB assemblies. They stock and distribute electronic components.
              </h6>
            </div>
            <div class="card-footer">
              <a href="https://www.digikey.com/" class="btn btn-light">Visit Digi-Key</a>
            </div>
          </div></div>
        </div>
      </div>
      <!-- /.sponsor 2 -->
      <!-- sponsor 3 -->
      <div class="col-lg-4 mb-4">
        <div class="slide-container"><div class="slide-child">
          <div class="sponsors card-blk-wht h-100">
            <h4 class="card-header">FMW Fasteners</h4>
            <img class="card-img-top" src="assets/imgs/fmw-fasteners.jpg" alt="fmw fasteners">
            <div class="card-body">
              <h6 class="card-subtitle mb-2">FMW Fasteners is a premier online provider of anchor products,
                nuts, bolts, socket products and screws. They stock premium, professional grade products.
              </h6>
            </div>
            <div class="card-footer">
              <a href="https://www.fmwfasteners.com/" class="btn btn-light">Visit FMW Fasteners</a>
            </div>
          </div>
        </div></div>
      </div>
      <!-- /.sponsor 3 -->
    </div>
  <!-- /.sponsor row 2 -->
  </div>
  <!-- /.container -->
