

  <!-- Page Content -->
  <div class="container">

    <!-- 404 header and construction jumbotron -->
    <div class="intermediate-container-xs">
      <h1 class="mt-4 mb-3 text-center rounded p-2 title-blk-gold">Newsletter - Under Construction</h1>
    </div>

    <div class="jumbotron text-center">
      <h2 class="display-4 title-blk-wht">Construction</h2>
      <h3>  We have yet to release our newsletter for the upcoming semester.
        <br>Try again later!
      </h3>
    </div>
    <!-- /.jumbotron -->

  </div>
  <!-- /.container -->
