

  <!-- Page Content -->
  <div class="container">

    <h1 class="mt-4 mb-3 text-center rounded p-2 title-blk-gold">Social Media Feed</h1>
    <!-- Social media widgets -->
    <div class="header-container-sm">
      <div class="row">
        <!-- facebook -->
        <div class="col-lg-4">
          <div class="intermediate-container-med">
              <h2 class="text-center rounded p-2 title-blk-wht">Facebook</h2>
              <div class="fb-page" data-href="https://www.facebook.com/RoboticsClub" data-colorscheme="dark" data-tabs="timeline" data-width="400" data-height="700" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/RoboticsClub" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/RoboticsClub">Robotics Club of Central Florida</a></blockquote></div>
          </div>
        </div>
        <!-- /.facebook -->
        <!-- twitter -->
        <div class="col-lg-4">
          <div class="intermediate-container-med">
            <h2 class="text-center rounded p-2 title-blk-wht">Twitter</h2>
            <a class="twitter-timeline" data-width="400" data-height="700" data-theme="dark" href="https://twitter.com/RoboticsClubCFl?ref_src=twsrc%5Etfw">Tweets by RoboticsClubCFl</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
        <!-- /.twitter -->
        <!-- youtube -->
        <div class="col-lg-4">
          <h2 class="text-center rounded p-2 title-blk-wht">Youtube</h2>
          <div class="youtube">
            <iframe src="https://www.youtube.com/embed/videoseries?list=UUZEPdNUFzkciC7MIiI-yPKg" width="350" height="350" frameborder="0"></iframe>
          </div>
        </div>
        <!-- /.youtube -->
      </div>
    </div>
    <!-- /.Social media widgets -->

  </div>
  <!-- /.container -->
