/* Styles for the homepage/index page
  Created by: Alexandra French
  For: the Robotics Club of Central Florida
  On: August 5, 2020

  Last modified on: August 23, 2020
  By: Alexandra French
*/


body {
  padding-top: 0px;
  background-color: #f1f0ea;
}


/* CAROUSEL STYLES*/
#carouselIndicators .carousel-item {
  height: 57vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption h1, .carousel-caption h2 {
  color: #C39A00;
  text-shadow: 0px 5px 0px #212121;
  text-emphasis: bold;
  font-size: 80px;
}


/* titles */
.idx-title {
  color: #C39A00;
  text-shadow: 0px 1px 0px #212121;
}


/*  announcements and calendar fixes */
.ann-cal-container {
  height: 43vh;
  width: 100%;
}

.fix-calendar iframe
{
  display: flex;
  height: 36.5vh;
  width: 100%;
}

.announcements-container {
  height: 36.5vh !important;
  width: 100%;
}

.announcements-container p {
  color: #f1f0ea;
}

.announcements-container a:hover {
  color: #f1f0ea;
}


/* calendar styles*/
.calendar-text {
  font-weight: bold;
}

.calendar-button {
  border: none;
  outline: none;
  background-color:#f0cc03;
  color: #272929;
  height: 100%;
  width: 100%;
}

.calendar-button.disabled {
  background-color:#cebb77;
  color: #272929;
  opacity: 1;
}

.button-container {
  height: 10%;
  width: 50%;
}

.hidden {
  display:none;
}

.announcements-text {
  color: #f1f0ea;
  font-size: 28px;
}

.events {
  width: 100%;
  height: 90%;
}

.calendar-container {
  width: 100%;
  height: inherit;
}

.announcements-container {
  background-color: #272929;
  color: #f0cc03;
  width: 100%;
  height: inherit;
}

.announcements-title {
  font-size: 32px;
  font-weight: bold;
}


/* Project overlays and cards */
.overlay-container {
  position: relative;
}

.card-img {
  display: block;
  width: 100%;
  height: auto;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #212121;
  color:#f1f0ea;
}

.overlay-container:hover .card-img-overlay,
.overlay-container:focus .card-img-overlay {
  opacity: .8;
}

.card-overlay{
  position: absolute;
  top:50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


/* introductory spacing */
.intro {
  height: 95%;
  display: block;
}


/* grid */
.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid .container {
  height: inherit;
}

.grid-body {
  display: block;
  height: inherit;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.grid-body h2 {
  text-align: center;
  justify-content: center;
  align-self: center;
  font-size: 48px;
}

.grid-body-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

/* disables links until overlay */
.grid-body-overlay a {
  pointer-events: none;
  color: #f1f0ea;
}

.grid-container:hover .grid-body-overlay,
.grid-container:focus .grid-body-overlay {
  opacity: 1;
}

.grid-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top:50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.grid-overlay img {
  padding: 10px 25px;
}

.grid .text-center {
  height: inherit;
}

.grid-container {
  height: inherit;
  width: inherit;
}

.grid .col-md-6 {
  height: 100%;
}

.grid .card {
  height: inherit;
  justify-content: center;
  align-items: center;
}


/* grid rows */
#grid-r-1.row {
  height: 42%;
}

#grid-r-1 .col-md-6 {
}

#grid-r-1 .container {
  margin-bottom: 0px;
  height: 100%;
}

#grid-r-2.row {
  height: 58%;
}

#grid-r-2 .end-container-flex {
  padding-top: 0px;
}

#grid-r-2 .container {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 36px;
  height: 90%;
}

#grid-r-2 .col-md-6 {
  width: 100%;
}


/* grid card colors */
#join-grid {
  background-color: #f5fcfc;
  border: none;
  color: #272929;
}

body.dark #join-grid {
  background-color: #d3dadb;
}

#follow-grid {
  background-color: #272929;
  border: none;
  color:#f5fcfc;
}

#visit-grid {
  background-color: #f5fcfc;
  border: none;
  color: #272929;
}

body.dark #visit-grid {
  background-color: #d3dadb;
}

#contact-grid {
  background-color: #272929;
  border: none;
  color:#f5fcfc;
}

#contact-overlay .grid-overlay p {
  margin-bottom: 6px;
}


/* overlay colors and ids for each grid point*/
#join-overlay {
  background-color: #272929;
  color:#f5fcfc;
}

#join-overlay a {
  color: #C39A00;
  text-decoration-color: #f5fcfc;
}

#follow-overlay {
  background-color: #f5fcfc;
  color: #272929;
}

body.dark #follow-overlay {
  background-color: #d3dadb;
}

#contact-overlay {
  background-color: #f5fcfc;
  color: #272929;
}

body.dark #contact-overlay {
  background-color: #d3dadb;
}

#contact-overlay a {
  color: #C39A00;
  text-decoration-color: #272929;
}

#visit-overlay {
  background-color: #272929;
  color: #f1f0ea;
}


/* fixes up the map */
.map-container {
  overflow:hidden;
  position:relative;
  height: 100%;
}

.map-container iframe {
  pointer-events: none;
}

.map-container:hover iframe,
.map-container:focus iframe {
  height: 100%;
  width: 100%;
  pointer-events: auto;
}


/* scroll snap child */
.snap-child-r2 {
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
}


/* styles for the robotics slides */
/* shrink left and rightmost items*/
#robotCarousel.carousel .carousel-item.small-0 .robot-card-1,
#robotCarousel.carousel .carousel-item.small-0 .robot-card-2 {
  transform: scale(0.75);
}
#robotCarousel.carousel .carousel-item.small-1 .robot-card-0,
#robotCarousel.carousel .carousel-item.small-1 .robot-card-2 {
  transform: scale(0.75);
}
#robotCarousel.carousel .carousel-item.small-2 .robot-card-0,
#robotCarousel.carousel .carousel-item.small-2 .robot-card-1 {
  transform: scale(0.75);
}

/* make middle overlay on by default */
#robotCarousel.carousel .carousel-item.small-0 .robot-card-0 .card-img-overlay {
  opacity: 0.75;
}
#robotCarousel.carousel .carousel-item.small-1 .robot-card-1 .card-img-overlay {
  opacity: 0.75;
}
#robotCarousel.carousel .carousel-item.small-2 .robot-card-2 .card-img-overlay {
  opacity: 0.75;
}

/* make middle overlay disappear on mouseover */
#robotCarousel.carousel .carousel-item.small-0 .robot-card-0 .overlay-container:hover .card-img-overlay,
#robotCarousel.carousel .carousel-item.small-0 .robot-card-0 .overlay-container:focus .card-img-overlay {
  opacity: 0;
}

#robotCarousel.carousel .carousel-item.small-1 .robot-card-1 .overlay-container:hover .card-img-overlay,
#robotCarousel.carousel .carousel-item.small-1 .robot-card-1 .overlay-container:focus .card-img-overlay {
  opacity: 0;
}
#robotCarousel.carousel .carousel-item.small-2 .robot-card-2 .overlay-container:hover .card-img-overlay,
#robotCarousel.carousel .carousel-item.small-2 .robot-card-2 .overlay-container:focus .card-img-overlay {
  opacity: 0;
}

#robotCarousel.carousel .carousel-inner .carousel-item.active,
#robotCarousel.carousel .carousel-inner .carousel-item-next,
#robotCarousel.carousel .carousel-inner .carousel-item-prev {
  display: flex;
}

/* carousel speed */
#robotCarousel.carousel .carousel-inner .item {
  -webkit-transition: 1.0s ease-in-out left;
  -moz-transition: 1.0s ease-in-out left;
  -o-transition: 1.0s ease-in-out left;
  transition: 1.0s ease-in-out left;
}

/* carousel icons */
#robotCarousel.carousel .carousel-control-prev-icon,
#robotCarousel.carousel .carousel-control-next-icon {
  height: 55px;
  width: 55px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 32;
  font-weight: bold;
}

#robotCarousel.carousel .carousel-control-next-icon:after
{
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: red;
}

#robotCarousel.carousel .carousel-control-prev-icon:after {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: red;
}

/* text for carousel */
#robotCarousel.carousel .card-header {
  font-size: 32px;
  font-weight: bold;
  color: #C39A00;
  background-color: transparent;
  border: none;
  padding-top: 5px;
}

#robotCarousel.carousel p {
  font-weight: bold;
}


#robotCarousel.carousel {
  height: 100vh;
}

#robotCarousel .carousel-inner {
  height: inherit;
}


#robotCarousel.carousel .carousel-item {
  height: 100vh;
}

#robotCarousel .card img {
  width: 100%;
  height: auto;
}


/* footer styles */
footer {
  height: 90px !important;
}


/*-------------- Code for different device sizes --------------*/
@media (max-width: 995px) {
  .announcements-text {
    font-size: 24px;
  }
}

/* if too small, swap the grid colors for contact us and visit us due to realignment */
@media only screen and (max-width: 767px) {
  .grid .col-md-6 {
    height: 45%;
  }

  .grid-container {
    height: 100%;
  }

  .grid .container .row {
    padding-bottom: 56px;
    height: 50%;
  }

  .snap-child .container {
    margin-top: 10px;
  }

  .snap-child-r2 {
    align-items: center;
    justify-content: center;
    text-align: center;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    flex: none;
    height: 100%;
    width: 100%;
  }

  .grid .end-container-flex {
    height: 100%;
  }


  #grid-end-1 {
    height: calc(200% + 55px);
  }

  #grid-end-1 .container {
    height: 100%;
  }

  #grid-r-1.row {
    height: 50%;
    margin-right: 0px;
    margin-left: 0px;
  }

  #grid-r-1 .col-md-6 {
    padding-left: 0px;
    padding-right: 0px;
    height: 50%;
  }

  #grid-r-1 .container {
    height: 95%;
  }

  #r2-snapper {
    height: 100%;
  }

  #r2-snapper .col-md-6 {
    height: 50%;
    align-items: center;
    justify-content:center;
    padding: 0px;
  }

  #grid-r-2.row {
    height: calc(50%);
    padding-bottom: 0px !important;
  }

  #grid-r-3.row {
    padding-bottom: 20px;
  }

  #grid-r-2.row .end-container-flex {
    height: calc(100%);
  }

  #grid-r-2 .container {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 56px;
    padding-bottom: 0px;
    height: 100%;
  }

  .grid-container {
    height: 100%;
    padding-top: 20px;
  }

  footer {
    height: 65px !important;
  }

  footer .container {
    padding-top: 0px !important;
  }

  footer .row {
    flex-direction: row !important;
  }

  footer p {
    color: white;
  }


  .alert-content {
    margin-top: 56px;
  }

  .required {
    max-width: 95%;
  }

  #follow-overlay .grid-container {
    margin-bottom: 10px;
  }

  #follow-overlay .row {
    height: 33.333%;
  }

  #follow-overlay .col-lg-6 {
    padding: 0px;
  }

  #visit-grid {
    background-color: #272929;
    border: none;
    color:#f1f0ea;
  }

  body.dark #visit-grid {
    background-color: #272929;
    border: none;
    color:#f1f0ea;
  }

  #contact-grid {
    background-color: #f5fcfc;
    border: none;
    color: #272929;
  }

  body.dark #contact-grid {
    background-color: #d3dadb;
    border: none;
    color: #272929;
  }

  #contact-overlay {
    background-color: #272929;
    color: #f1f0ea;
  }

  body.dark #contact-overlay {
    background-color: #272929;
    color: #f1f0ea;
  }

  #visit-overlay {
    background-color: #f5fcfc;
    color: #272929;
  }

  body.dark #visit-overlay {
    background-color: #d3dadb;
    color: #272929;
  }
}



/* display 2*/
@media (max-width: 770px) {
  #robotCarousel.carousel .carousel-inner .carousel-item > div {
    display: none;
  }
  #robotCarousel.carousel .carousel-inner .carousel-item > div:first-child {
    display: block;
  }

  #robotCarousel.carousel .card-header {
    font-size: 42px;
  }

  /* carousel icons */
  #robotCarousel.carousel .carousel-control-prev-icon,
  #robotCarousel.carousel .carousel-control-next-icon {
    height: 35px;
    width: 35px;
    font-size: 32px;
  }

  #robotCarousel.carousel .carousel-control-next-icon:after {
    font-size: 25px;
    color: red;
  }

  #robotCarousel.carousel .carousel-control-prev-icon:after {
    font-size: 25px;
    color: red;
  }

  #robotCarousel .card-img-overlay {
    opacity: 0.75;
  }

  #robotCarousel .overlay-container:hover .card-img-overlay,
  #robotCarousel .overlay-container:focus .card-img-overlay {
    opacity: 0;
  }

  #robotCarousel p {
    font-size: 24px;
    font-weight: bold;
  }


  /* Dont transform if only one image is showing */
  #robotCarousel.carousel .carousel-item.small-0 .robot-card-1,
  #robotCarousel.carousel .carousel-item.small-0 .robot-card-2 {
    transform: scale(1);
  }
  #robotCarousel.carousel .carousel-item.small-1 .robot-card-0,
  #robotCarousel.carousel .carousel-item.small-1 .robot-card-2 {
    transform: scale(1);
  }
  #robotCarousel.carousel .carousel-item.small-2 .robot-card-0,
  #robotCarousel.carousel .carousel-item.small-2 .robot-card-1 {
    transform: scale(1);
  }
}

/* display 3 */
@media (min-width: 770px) {
    #robotCarousel.carousel .carousel-inner .carousel-item-right.active,
    #robotCarousel.carousel .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }

    #robotCarousel.carousel .carousel-inner .carousel-item-left.active,
    #robotCarousel.carousel .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

#robotCarousel.carousel .carousel-inner .carousel-item-right,
#robotCarousel.carousel .carousel-inner .carousel-item-left{
  transform: translateX(0);
}

@media (max-width: 700px) {
  .announcements-text {
    font-size: 20px;
  }
}

@media (max-width: 444px) {
  .announcements-text {
    font-size: 16px;
  }
}


@media only screen and (max-width: 425px) {
  #follow-overlay .grid-overlay {
    padding: 10px !important;
}

@media (max-width: 418px) {
  #robotCarousel p {
    font-size: 22px;
    font-weight: bold;
  }

}

/* fix sizing on mobile */
@media (max-width:375px) {
  #robotCarousel p {
    font-size: 20px;
    font-weight: bold;
  }
}
