
  <!-- Page Content -->
  <div class="container">

    <!-- 404 header and construction jumbotron -->
    <div class="intermediate-container-xs">
      <h1 class="mt-4 mb-3 text-center rounded p-2 title-blk-gold">404 - Page Not Found
      </h1>
    </div>

    <div class="jumbotron text-center">
      <h2 class="display-4 title-blk-wht">Page Not Found</h2>
      <p class="font-weight-bold">We tried to trained an AI to index our pages. It's going through a phase.</p>
    </div>
    <!-- /.jumbotron -->

  </div>
  <!-- /.container -->
