        <!-- calendar and announcements -->
        <div class="ann-cal-container">
          <!-- calendar/announcements -->
          <div class="row h-100 pt-2 pb-2 no-gutters">
            <!-- button to show calendar -->
            <div class="button-container">
              <button type="button" class="btn btn-secondary calendar-button d-flex align-items-center justify-content-center" id="calendar-button">
                <div class="calendar-text">Calendar</div>
              </button>
            </div>
            <!-- button to show announcements -->
            <div class="button-container">
              <button type="button" class="btn btn-secondary calendar-button d-flex align-items-center justify-content-center disabled" id="announcement-button">
                <div class="calendar-text">News</div>
              </button>
            </div>
            <!-- /.announcements button -->
            <!-- container for announcements and calendar-->
            <div class="events">
              <!-- calendar, shows initially -->
              <div class="calendar-container hidden" id="calendar">
                <div class="fix-calendar">
                  <iframe loading="lazy" src="https://calendar.google.com/calendar/embed?height=300&amp;wkst=1&amp;bgcolor=%23212121&amp;ctz=America%2FNew_York&amp;src=bThzbzIwNXJqMjUyNm40cm92YnAzdDRmMDRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%239D7000&amp;color=%23227F63&amp;showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;mode=MONTH" style="border:solid 1px #777" width="350" height="500" frameborder="0" scrolling="no"></iframe>
                </div>
              </div>
              <!-- /.calendar -->
              <!-- announcements, hidden initially -->
              <div class="announcements-container align-items-center justify-content-center" id="announcements">
                  <div class="row align-items-center justify-content-center text-center" style="margin: auto">
                      <div class="announcements-title title-gold p-2"><h2 class="font-weight-bold">News</h2></div>
                  </div>
                  <div class="d-flex row align-items-center justify-self-center p-2" style="margin: auto">
                    <div class="d-none d-md-block align-self-center text-center w-100">
                      <p class="text-center w-100">Thanksgiving is on Thursday, and with that, a Thanksgiving social is
                       coming up as well!
                      </p>
                    </div>
                    <p class="text-center w-100">
                      We have a Thanksgiving social Tuesday, November 24, at 6:30pm.
                      Join us on <a href="https://discord.gg/ypWpanw">Discord</a> to enjoy a safe Thanksgiving this
                      year with some Jackbox games.
                    </p>
                    <div class="d-none d-md-block text-center w-100">
                      <p class="text-center w-100">
                        We have a variety of Jackbox party packs to play this year along with some other possibilities like
                         Minecraft.
                      </p>
                    </div>
                  </div>
              </div>
            <!-- /.announcements -->
            </div>
            <!--- /.container for announcements and events -->
          </div>
          <!-- /.calendar/announcements -->
        </div>
        <!-- /.calendar and announcements -->