

  <!-- Page Content -->
  <div class="container">

    <!-- demobot -->
    <div class="header-container-med">
      <!-- Page Title -->
      <h1 class="mt-4 mb-3 text-center rounded p-1 title-blk-wht">Demobot</h1>

      <div class=row>
        <!-- Image Header -->
        <div class="col-lg-6">
          <div class="gif-container">
            <!-- preliminary image -->
            <img class="img-fluid rounded mb-4" src="assets/imgs/spiderbot-demo.jpg" alt="spiderbot demo 1">
            <div class="gif-text"><h2>View Demo</h2></div>
            <!-- gif image -->
            <div class="gif-overlay">
              <img class="img-fluid rounded mb-4" src="assets/imgs/spiderbot-walking.gif" loading="lazy" alt="spiderbot walking">
            </div>
          </div>
        </div>
        <!-- project details -->
        <div class="col-lg-6 rounded mb-4 p-4 container-gray-gold">
          <h2 class="rounded title-gold">Project Details</h2>
          <p>Demonstrative robots!</p>
          <p>Demobot is a robot created to demonstrate key capabilities for robotics. From
            new designs and mechanical challenges to exciting new software, this is the bot
            that does it all. This demobot is a spider-bot, as can be seen in the gif.
          </p>
        </div>
      </div>
    </div>
    <!-- /.demobot -->

    <!-- project goals and demos -->
    <div class="intermediate-container-med">
      <!-- project goals -->
      <div class="row">
        <div class="col-lg-6 text-center">
          <h2 class="rounded p-2 title-blk-gold">Project Goals</h2>
          <div class="container-wht-blk rounded p-3 h-100">
            <p>• Achieve a spider-bot limbs</p>
            <p>• Incorprate ROS 2 components</p>
            <p>• Achieve object chasing</p>
          </div>
        </div>
        <!-- project demos -->
        <div class="col-lg-6">
          <h2 class="text-center rounded p-2 title-blk-gold">Planned Demonstrations</h2>
            <div class="container-wht-blk rounded p-3 h-100">
              <p class="text-center">To Be Determined</p>
              <p class="text-center">Want us to demo a robot?
                <br>Contact us via our
              <a href="mailto:robotics@ucf.edu">email</a> or our
              <a href="https://discord.gg/ypWpanw">Discord</a>.
            </div>
          </p>
        </div>
      </div>
    </div>
    <!-- /.project goals -->

    <!-- the team -->
    <div class="intermediate-container-med">
      <!-- title -->
      <h2 class="p-2 text-center rounded title-blk-wht">The Team</h2>
      <div class="row no-gutters">
        <!-- team image -->
        <div class="col-md-7 rounded container-wht-blk d-flex justify-content-center align-items-center">
          <div class="gif-container text-center">
            <!-- preliminary image -->
            <img class="img-fluid rounded mb-4" src="assets/imgs/dual_walking_demo.jpg" alt="spiderbot demo 2">
          </div>
        </div>
        <!-- further details -->
        <div class="col-md-5 rounded container-gray-gold p-2">
          <h3 class="my-3 title-gold">Further Details</h3>
          <p>Demobot is a long running theme for our club. Every few years, we achieve a new
              incarnation of demobot with different capabilities and challenges.
          </p>
          <p>The team this time is full of electrical and mechanical engineers, with some
            computer engineers. The project reflects this - the first big hurdle will be the legs!
          </p>
          <h3 class="my-3 title-gold">View <a href="gallery" aria-label="view demobot's photo gallery">Demobot's Photo Gallery.</a></h3>
        </div>
      </div>
    </div>
    <!-- /.the team -->


    <!-- Team Leads -->
    <div class="intermediate-container-med">
      <h2 class="my-4 p-2 text-center rounded title-blk-gold">Team Leads</h2>

      <div class="row align-items-center justify-content-center">
        <!-- mechanical -->
        <div class="col-md-4 col-sm-6 mb-4">
          <img class="img-fluid" src="assets/imgs/mech-lead-marc.jpg" alt="mechanical lead marc">
          <h3 class="text-center">Marc Simmonds</h3>
          <p class="text-center title-drk-gold">Mechanical Team Lead</p>
        </div>
        <!-- electrical -->
        <div class="col-md-4 col-sm-6 mb-4">
          <img class="img-fluid" src="../../assets/imgs/placeholder-500x300.png" alt="electrical lead carole">
          <h3 class="text-center">Carole Pearson</h3>
          <p class="text-center title-drk-gold">Electrical Team Lead</p>
        </div>
      </div>
    </div>
    <!-- /.team leads -->

