/* Write your global styles here, in PostCSS syntax */

@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
	@apply h-full overflow-hidden;
}
@font-face {
	/* Reference name */
	font-family: 'Heading';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/norwester.otf');
}
@font-face {
	/* Reference name */
	font-family: 'Text';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/montser.ttf');
}
