

  <!-- Page Content -->
  <div class="container">

    <!-- faq -->
    <div class="header-container-sm">
      <h1 class="mt-4 mb-3 text-center rounded p-2 title-blk-gold">Frequently Asked Questions
      </h1>
    </div>
    <!-- /.faq -->

    <!-- tabs -->
    <div id="faq-wrapper">
      <ul class="mini-tabs nav nav-tabs rounded-top" id="" tabindex="-1" role="listbox" class="hidden">
        <li class="nav-item rounded-top faq" id="faq-about-us" role="option">
          <a class="nav-link active" data-toggle="tab" href="#about-club"><div class="faq-text"><h2>About the Club</h2></div></a>
        </li>
        <li class="nav-item rounded-top" id="faq-members-info" role="option">
          <a class="nav-link" data-toggle="tab" href="#members-info"><div class="faq-text"><h2>Members Info</h2></div></a>
        </li>
        <li class="nav-item rounded-top" id="faq-misc-info" role="option">
          <a class="nav-link" data-toggle="tab" href="#misc-info"><div class="faq-text"><h2>Misc Info</h2></div></a>
        </li>
        <li class="nav-item rounded-top" id="faq-subscribe" role="option">
          <a class="nav-link" data-toggle="tab" href="#subscribe"><div class="faq-text"><h2>Subscribe</h2></div></a>
        </li>
      </ul>
    </div>
