

  <!-- Page Content -->
  <div class="container">

    <!-- faq -->
    <div class="header-container-sm">
      <h1 class="mt-4 mb-3 text-center rounded p-2 title-blk-gold">Frequently Asked Questions
      </h1>
    </div>
    <!-- /.faq -->

    <!-- tabs -->
    <ul class="mini-tabs nav nav-tabs rounded-top">
      <li class="nav-item rounded-top">
        <a class="nav-link active" data-toggle="tab" href="#about-club">About the Club</a>
      </li>
      <li class="nav-item rounded-top">
        <a class="nav-link" data-toggle="tab" href="#members-info">Members Info</a>
      </li>
      <li class="nav-item rounded-top">
        <a class="nav-link" data-toggle="tab" href="#misc-info">Misc Info</a>
      </li>
    </ul>

    <!-- tab panes -->
    <div class="tab-content">
      <div class="tab-pane container active" id="about-club">
        <div id="faq-accordionA">
          <!-- q1 -->
          <div class="card card-blk-gray">
            <div class="card-header" id="headingOneA">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOneA" aria-expanded="true" aria-controls="collapseOneA">
                  <p>What is the Club About?</p>
                </button>
              </h5>
            </div>
            <div id="collapseOneA" class="collapse show" aria-labelledby="headingOneA" data-parent="#faq-accordionA">
              <div class="card-body">
                <p>The Robotics Club of Central Florida is a group of undergraduate and graduate students that build robots.
                  We build both autonomous and manual robots.
                </p>
              </div>
            </div>
          </div>
          <!-- /.q1 -->
          <!-- q2 -->
          <div class="card card-wht-gray">
            <div class="card-header" id="headingTwoA">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwoA" aria-expanded="false" aria-controls="collapseTwoA">
                  <p>What teams are there?</p>
                </button>
              </h5>
            </div>
            <div id="collapseTwoA" class="collapse" aria-labelledby="headingTwoA" data-parent="#faq-accordionA">
              <div class="card-body">
                <p>We have three teams corresponding to three robots: Bowser, Citrobot, and Demobot
                </p>
              </div>
            </div>
          </div>
          <!-- /.q2 -->
          <!-- q3 -->
          <div class="card card-blk-gray">
            <div class="card-header" id="headingThreeA">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThreeA" aria-expanded="false" aria-controls="collapseThreeA">
                  <p>What is the Bowser team doing?</p>
                </button>
              </h5>
            </div>
            <div id="collapseThreeA" class="collapse" aria-labelledby="headingThreeA" data-parent="#faq-accordionA">
              <div class="card-body">
                <p>Bowser is an autonomous ground vehicle for the intelligent ground vehicle competition in June.
                    This project will involve heavy programming work, remaking the electrical components of the bot, and minor mechanical work.
                </p>
              </div>
            </div>
          </div>
          <!-- /.q3 -->
          <!-- q4 -->
          <div class="card card-wht-gray">
            <div class="card-header" id="headingFourA">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFourA" aria-expanded="false" aria-controls="collapseFourA">
                  <p>What is the Citrobot team doing?</p>
                </button>
              </h5>
            </div>
            <div id="collapseFourA" class="collapse" aria-labelledby="headingFourA" data-parent="#faq-accordionA">
              <div class="card-body">
                <p>Citrobot is a 15lb combat robot.
                    This project will involve heavy mechanical and electrical work, with minor programming work.
                </p>
              </div>
            </div>
          </div>
          <!-- /.q4-->
          <!-- q5 -->
          <div class="card card-blk-gray">
            <div class="card-header" id="headingFiveA">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFiveA" aria-expanded="false" aria-controls="collapseFiveA">
                  <p>What is the Demobot team doing?</p>
                </button>
              </h5>
            </div>
            <div id="collapseFiveA" class="collapse" aria-labelledby="headingFiveA" data-parent="#faq-accordionA">
              <div class="card-body">
                <p>Demobot is our demonstrative robot. It is created to demonstrate the
                  best aspects of robotics to the work every semester.
                  This project involves work from all disciplines.
                </p>
              </div>
            </div>
          </div>
          <!-- /.q5-->
          <!-- q6 -->
          <div class="card card-wht-gray">
            <div class="card-header" id="headingSixeA">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSixA" aria-expanded="false" aria-controls="collapseSixA">
                  <p>What competitions do you go to?</p>
                </button>
              </h5>
            </div>
            <div id="collapseSixA" class="collapse" aria-labelledby="headingSixA" data-parent="#faq-accordionA">
              <div class="card-body">
                <p>Currently we are planning to go to IGVC 2021 and any local combat robot competitions.
                  Have a local competition? <a href="https://discord.gg/ypWpanw">Let us know</a>.
                </p>
              </div>
            </div>
          </div>
          <!-- /.q6-->
          <!-- q7 -->
          <div class="card card-blk-gray">
            <div class="card-header" id="headingSevenA">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSevenA" aria-expanded="false" aria-controls="collapseSevenA">
                  <p>What is the club's response to Covid19?</p>
                </button>
              </h5>
            </div>
            <div id="collapseSevenA" class="collapse" aria-labelledby="headingSevenA" data-parent="#faq-accordionA">
              <div class="card-body">
                <p>During Covid19, the club has limited physical presence. Meetings are generally online on our
                  <a href="https://discord.gg/ypWpanw">discord</a>.
                </p>
              </div>
            </div>
          </div>
          <!-- /.q7-->
        </div>
      </div>
      <!-- /.about club-->
      <!-- members info -->
      <div class="tab-pane container fade" id="members-info">
        <div id="faq-accordionB">
          <!-- q1 -->
          <div class="card card-blk-gray">
            <div class="card-header" id="headingOneB">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOneB" aria-expanded="true" aria-controls="collapseOneB">
                  <p>How do I join the club?</p>
                </button>
              </h5>
            </div>
            <div id="collapseOneB" class="collapse show" aria-labelledby="headingOneB" data-parent="#faq-accordionB">
              <div class="card-body">
                <p> Come visit our <a href="https://discord.gg/ypWpanw">Discord</a>!
                    With Covid19 we do not currently have many in-person events, so the best
                    way to meet us is virutally.
                </p>
              </div>
            </div>
          </div>
          <!-- /.q1 -->
          <!-- q2 -->
          <div class="card card-wht-gray">
            <div class="card-header" id="headingTwoB">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwoB" aria-expanded="false" aria-controls="collapseTwoB">
                  <p>What majors can join the club?</p>
                </button>
              </h5>
            </div>
            <div id="collapseTwoB" class="collapse" aria-labelledby="headingTwoB" data-parent="#faq-accordionB">
              <div class="card-body">
                <p>All majors are welcome!
                </p>
              </div>
            </div>
          </div>
          <!-- /.q2 -->
          <!-- q3 -->
          <div class="card card-blk-gray">
            <div class="card-header" id="headingThreeB">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThreeB" aria-expanded="false" aria-controls="collapseThreeB">
                  <p>What years can join the club?</p>
                </button>
              </h5>
            </div>
            <div id="collapseThreeB" class="collapse" aria-labelledby="headingThreeB" data-parent="#faq-accordionB">
              <div class="card-body">
                <p>Any year, both undergraduate and graduate students.
              </p>
              </div>
            </div>
          </div>
          <!-- /.q3 -->
          <!-- q4 -->
          <div class="card card-wht-gray">
            <div class="card-header" id="headingFourB">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFourB" aria-expanded="false" aria-controls="collapseFourB">
                  <p>What team should I join?</p>
                </button>
              </h5>
            </div>
            <div id="collapseFourB" class="collapse" aria-labelledby="headingFourB" data-parent="#faq-accordionB">
              <div class="card-body">
                <p>Bowser is an autonomous ground vehicle that involves electrical, mechanical, and
                    the majority of our computer science work.
                    Citrobot is a 15lb combat robot that involves significant mechanical and electrical work.
                    Demobot is a demonstrative robot that involves mechanical and electrical work,
                     with some computer science work.
              </p>
              </div>
            </div>
          </div>
          <!-- /.q4 -->
          <!-- q5 -->
          <div class="card card-blk-gray">
            <div class="card-header" id="headingFiveB">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFiveB" aria-expanded="false" aria-controls="collapseFiveB">
                  <p>I am a computer science major, but cannot make the days of the Bowser team.</p>
                </button>
              </h5>
            </div>
            <div id="collapseFiveB" class="collapse" aria-labelledby="headingFiveB" data-parent="#faq-accordionB">
              <div class="card-body">
                <p>That's fine! Even if Bowser has mostly coding work, there is still some coding to do on
                  both Citrobot and Demobot.
              </p>
              </div>
            </div>
          </div>
          <!-- /.q5 -->
          <!-- q6 -->
          <div class="card card-wht-gray">
            <div class="card-header" id="headingSixB">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSixB" aria-expanded="false" aria-controls="collapseSixB">
                  <p>I am a mechanical or electrical engineering major, but cannot make the days of the Citrobot team.</p>
                </button>
              </h5>
            </div>
            <div id="collapseSixB" class="collapse" aria-labelledby="headingSixB" data-parent="#faq-accordionB">
              <div class="card-body">
                <p>That's fine! Even if Citrobot has the main mechanical work, there is still some work to do on
                  both Bowser and Demobot.
              </p>
              </div>
            </div>
          </div>
          <!-- /.q6 -->
          <!-- q7 -->
          <div class="card card-blk-gray">
            <div class="card-header" id="headingSevenB">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSevenB" aria-expanded="false" aria-controls="collapseSevenB">
                  <p>I am an ___ major, but I want to do ___.</p>
                </button>
              </h5>
            </div>
            <div id="collapseSevenB" class="collapse" aria-labelledby="headingSevenB" data-parent="#faq-accordionB">
              <div class="card-body">
                <p>Projects are not major specific, and you can join any project and any part.
              </p>
              </div>
            </div>
          </div>
          <!-- /.q7 -->
          <!-- q8 -->
          <div class="card card-wht-gray">
            <div class="card-header" id="headingEightB">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEightB" aria-expanded="false" aria-controls="collapseEightB">
                  <p>I have no experience with ___ but I want to try it.</p>
                </button>
              </h5>
            </div>
            <div id="collapseEightB" class="collapse" aria-labelledby="headingEightB" data-parent="#faq-accordionB">
              <div class="card-body">
                <p>That's fine! Most new members don't have prior experience.
                    There are workshops at the start of each semester and team members are happy to help with any questions.
              </p>
              </div>
            </div>
          </div>
          <!-- /.q8 -->
          <!-- q9 -->
          <div class="card card-blk-gray">
            <div class="card-header" id="headingNineB">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNineB" aria-expanded="false" aria-controls="collapseNineB">
                  <p>I don't have a car to get to the club.</p>
                </button>
              </h5>
            </div>
            <div id="collapseNineB" class="collapse" aria-labelledby="headingNineB" data-parent="#faq-accordionB">
              <div class="card-body">
                <p>UCF has shuttles running to its partnerships until 10PM on:
                      M / Tu / W / Th / F
                      Ask if there's a carpool to join on our discord:
                      <a href="https://discord.gg/ypWpanw">discord.gg</a>
                </p>
              </div>
            </div>
          </div>
          <!-- /.q9 -->
          <!-- q10 -->
          <div class="card card-wht-gray">
            <div class="card-header" id="heading10B">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse10B" aria-expanded="false" aria-controls="collapse10B">
                  <p>What languages are used?</p>
                </button>
              </h5>
            </div>
            <div id="collapse10B" class="collapse" aria-labelledby="heading10B" data-parent="#faq-accordionB">
              <div class="card-body">
                <p>Most of our current code is done in either Python3 or C++.
                </p>
              </div>
            </div>
          </div>
          <!-- /.q10 -->
          <!-- q11 -->
          <div class="card card-blk-gray">
            <div class="card-header" id="heading11B">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse11B" aria-expanded="false" aria-controls="collapse11B">
                  <p>Are there dues?</p>
                </button>
              </h5>
            </div>
            <div id="collapse11B" class="collapse" aria-labelledby="heading11B" data-parent="#faq-accordionB">
              <div class="card-body">
                <p>Yes. Dues are due the 3rd week of each semester. They are $20 per semester.
                </p>
              </div>
            </div>
          </div>
          <!-- /.q11 -->
          <!-- q12 -->
          <div class="card card-wht-gray">
            <div class="card-header" id="heading12B">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse12B" aria-expanded="false" aria-controls="collapse12B">
                  <p>Can I join even though the new members meeting is over?</p>
                </button>
              </h5>
            </div>
            <div id="collapse12B" class="collapse" aria-labelledby="heading12B" data-parent="#faq-accordionB">
              <div class="card-body">
                <p>Of course! Join our <a href="https://discord.gg/ypWpanw">Discord</a> to meet the team and see our virtual meetings.
                </p>
              </div>
            </div>
          </div>
          <!-- /.q12 -->
          <!-- q13 -->
          <div class="card card-blk-gray">
            <div class="card-header" id="heading13B">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse13B" aria-expanded="false" aria-controls="collapse13B">
                  <p>Why haven't I been accepted on KnightsConnect yet?</p>
                </button>
              </h5>
            </div>
            <div id="collapse13B" class="collapse" aria-labelledby="heading13B" data-parent="#faq-accordionB">
              <div class="card-body">
                <p>To get accepted on KnightsConnect, you must have come to lab and paid your dues.
                  If you haven't been added yet, please let us know when you're next in the lab or on
                  <a href="https://discord.gg/ypWpanw">Discord</a>.
                </p>
              </div>
            </div>
          </div>
          <!-- /.q13 -->
        </div>
      </div>
      <!-- /.members info -->
      <!-- misc -->
      <div class="tab-pane container fade" id="misc-info">
        <div id="faq-accordionC">
          <!-- q1 -->
          <div class="card card-blk-gray">
            <div class="card-header" id="headingOneC">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOneC" aria-expanded="true" aria-controls="collapseOneC">
                  <p>I am lost.</p>
                </button>
              </h5>
            </div>
            <div id="collapseOneC" class="collapse show" aria-labelledby="headingOneC" data-parent="#faq-accordionC">
              <div class="card-body">
                <p>We have a handy guide on how to reach the lab at the bottom of our
                  <a href="../about/contact">Contact Us</a> page.
                </p>
              </div>
            </div>
          </div>
          <!-- /.q1 -->
          <!-- q2 -->
          <div class="card card-wht-gray">
            <div class="card-header" id="headingTwoC">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwoC" aria-expanded="false" aria-controls="collapseTwoC">
                  <p>Who can I contact about the club?</p>
                </button>
              </h5>
            </div>
            <div id="collapseTwoC" class="collapse" aria-labelledby="headingTwoC" data-parent="#faq-accordionC">
              <div class="card-body">
                <p>If you want to contact us for any reason, you can use either our
                  <a href="https://discord.gg/ypWpanw">Discord</a> or <a href="mailto:robotics@ucf.edu">email</a>.
                  Our phone is not currently attended to due to Covid19.
                </p>
              </div>
            </div>
          </div>
          <!-- /.q2 -->
          <!-- q3 -->
          <div class="card card-blk-gray">
            <div class="card-header" id="headingThreeC">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThreeC" aria-expanded="false" aria-controls="collapseThreeC">
                  <p>What has the club achieved in the past?</p>
                </button>
              </h5>
            </div>
            <div id="collapseThreeC" class="collapse" aria-labelledby="headingThreeC" data-parent="#faq-accordionC">
              <div class="card-body">
                <p> You can view all of our past projects on our <a href="../projects/index">projects page</a>
                    , including the bots that have gone to competitions.
              </p>
              </div>
            </div>
          </div>
          <!-- /.q3 -->
          <!-- q4 -->
          <div class="card card-wht-gray">
            <div class="card-header" id="headingFourC">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFourC" aria-expanded="false" aria-controls="collapseFourC">
                  <p>I am recruiting for a project or company</p>
                </button>
              </h5>
            </div>
            <div id="collapseFourC" class="collapse" aria-labelledby="headingFourC" data-parent="#faq-accordionC">
              <div class="card-body">
                <p>If you want to contact our members for any form of recruiting, you can
                  either shoot us an <a href="mailto:robotics@ucf.edu">email</a> and we'll put out an announcement,
                  or you can come to our <a href="https://discord.gg/ypWpanw">Discord</a>
                  and interact with the members firsthand!
              </p>
              </div>
            </div>
          </div>
          <!-- /.q4 -->
          <!-- q5 -->
          <div class="card card-blk-gray">
            <div class="card-header" id="headingFiveC">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFiveC" aria-expanded="false" aria-controls="collapseFiveC">
                  <p>How are projects chosen?</p>
                </button>
              </h5>
            </div>
            <div id="collapseFiveC" class="collapse" aria-labelledby="headingFiveC" data-parent="#faq-accordionC">
              <div class="card-body">
                <p>Projects are typically run by members who have taken part in prior projects
                  and have experience in what is needed for a project to succeed.
                  Projects are also typically presented to the club before choosing.
              </p>
              </div>
            </div>
          </div>
          <!-- /.q5 -->
          <!-- q6 -->
          <div class="card card-wht-gray">
            <div class="card-header" id="headingSixC">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSixC" aria-expanded="false" aria-controls="collapseSixC">
                  <p>How can I join the mailing list?</p>
                </button>
              </h5>
            </div>
            <div id="collapseSixC" class="collapse" aria-labelledby="headingSixC" data-parent="#faq-accordionC">
              <div class="card-body">
                <p>Subscribe to our mail list:<br /></p>

                <!--************* Begin MailChimp Signup Form *************-->
                <div id="mc_embed_signup">
                  <form action="//ucf.us11.list-manage.com/subscribe/post?u=ba5c2944886feb2964a80fe11&amp;id=e63d752fa6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">
                    <div class="mc-field-group">
                         <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
                         <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                    </div>
                    <div class="mc-field-group">
                      <label for="mce-MMERGE3">First and Last Name  <span class="asterisk">*</span></label>
                      <input type="text" value="" name="MMERGE3" class="required" id="mce-MMERGE3">
                    </div>
                    <div class="indicates-required" style="color:"red"">
                      <span class="asterisk">*</span> indicates required
                    </div>
                    <p>
                      <a href="https://us11.campaign-archive2.com/home/?u=ba5c2944886feb2964a80fe11&id=e63d752fa6" title="View previous campaigns" style="color:f1f0ea; font-size:12px"  class="grid1-link">View previous campaigns.</a>
                    </p>
                    <div id="mce-responses" class="clear">
                      <div class="response" id="mce-error-response" style="display:none; font-size:10px;"></div>
                      <div class="response" id="mce-success-response" style="display:none; font-size:10px;"></div>
                    </div>
                    <!--************* DO NOT REMOVE *************-->
                    <!-- real people should not fill this in and expect good things - do not remove this or risk
                    form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                      <input type="text" name="b_ba5c2944886feb2964a80fe11_e63d752fa6"
                      tabindex="-1" value="">
                    </div>
                    <div class="clear">
                      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                    </div>
                  </div>
                  </form>
                </div>
                <script type='text/javascript' src='https://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'>
                </script>
                <script type='text/javascript'>
                  (function($)
                  {
                    window.fnames = new Array();
                    window.ftypes = new Array();
                    fnames[0]='EMAIL';
                    ftypes[0]='email';
                    fnames[3]='MMERGE3';
                    ftypes[3]='text';
                  }
                  (jQuery));var $mcj = jQuery.noConflict(true);
                </script>
                <!--End mc_embed_signup-->
              </div>
            </div>
          </div>
          <!-- /.q6 -->
          <!-- q7 -->
          <div class="card card-blk-gray">
            <div class="card-header" id="headingSevenC">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSevenC" aria-expanded="false" aria-controls="collapseSevenC">
                    <p>I have other questions not answered here</p>
                </button>
              </h5>
            </div>
            <div id="collapseSevenC" class="collapse" aria-labelledby="headingSevenC" data-parent="#faq-accordionC">
              <div class="card-body">
                <p>Contact us with your questions via <a href="mailto:robotics@ucf.edu">email</a>
                   or <a href="https://discord.gg/ypWpanw">Discord</a>
              </p>
              </div>
            </div>
          </div>
          <!-- /.q7 -->
        </div>
      </div>

      <!-- /.misc info -->
    </div>
    <!-- /.tab content -->
  </div>
  <!-- /.container -->
